[2020-12-05 17:54] drptbl opened #17 "Partial issues with metamask while running tests with "chromeWebSecurity: false""
It seems that metamask doesn't work well with Synpress if it's run with `"chromeWebSecurity": false` flag. There seems to be some issues with connection between metamask and browser in this case.
In case of 1inch, I wasn't able to connect my wallet:
<img width="538" alt="Screenshot 2020-12-04 at 21 16 34" src="https://user-images.githubusercontent.com/8177587/101259740-f7c57880-372a-11eb-949d-0af6

[2020-12-30 13:32] wrobe0709 opened #54 "Unexpected Token Export in Angular App"
Hi - I'm working on getting synpress setup within an Angular app and getting this error:

[code]

If I edit the file to use `module.exports` instead of `export const` then I can get things working. Any tips on how I can setup my environment to work without going into synpress and editing the files? Thanks!

[2021-01-26 21:47] drptbl commented on #54
@wrobe0709 Thanks for reporting, I will look in to it.

[2021-03-18 09:10] qbig opened #111 "npm i @synthetixio/synpress failed"
[code]

[2021-03-18 09:24] #111 closed

[2021-04-08 18:32] drptbl opened #129 "Ability to add custom networks"

[2021-04-09 14:30] drptbl commented on #129
https://github.com/Synthetixio/synpress/pull/130

[2021-04-09 14:30] #129 closed

[2021-04-12 14:30] Dopaminergics opened #133 "npm install @synthetixio/synpress"
Fails as dependency tree cant resolve.
It seems there is an issue with webpack.
I am trying to adequately understand the issue to try and suggest a fix, but I am struggling to learn fast enough :).

[2021-04-13 07:57] drptbl commented on #133
Hey, what is your node and npm version?

[2021-04-13 10:20] Dopaminergics commented on #133
Hi jakub,

Node 14.16.1
Npm 7.8.0

I think they are both up to date :)

On Tue, 13 Apr 2021, 3:57 pm Jakub Mucha, ***@***.***> wrote:

[2021-04-13 10:27] drptbl commented on #133
@Dopaminergics try with this command:
`npm install @synthetixio/synpress --legacy-peer-deps`
It should fix your issue. If not, let me know, thanks!

[2021-04-13 10:27] #133 closed

[2021-04-15 18:29] FilatovDenys opened #135 "Not starting on Win 10"
I cant run synpress on win 10.

[2021-04-15 18:36] FilatovDenys commented on #135
**Message:** The plugins file is missing or invalid.

Your `pluginsFile` is set to `C:\Projects\111\node_modules\@synthetixio\synpress\plugins\index.js`, but either the file is missing, it contains a syntax error, or threw an error when required. The `pluginsFile` must be a `.js`, `.ts`, or `.coffee` file.

Or you might have renamed the extension of your `pluginsFile`. If that's the case, restart

[2021-04-20 19:50] drptbl commented on #135
@FilatovDenys what is the error? node and npm versions?

[2021-04-22 19:47] FilatovDenys commented on #135
Hi! I install synpress by npm comand `npm install @synthetixio/synpress` after that try run synpress used comands from readme `synpress run` and `synpress open` and have this error
`synpress : The term 'synpress' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is
 correct and try

[2021-04-22 19:49] FilatovDenys commented on #135
Perhaps I am doing something wrong when installing? Can you give more detailed installation instructions step by step? Thank you for your time !

[2021-05-02 08:27] tochman commented on #54
Hi,

I'm using create react app and face a similar issue:

[code]

I'm kind of convinced that I followed the appropriate setup steps, but it seems that we can't use es6 modules this way.

[2021-05-04 20:49] soualid commented on #54
Same here.

[2021-05-08 06:30] tochman commented on #54
For me, the solution was to go into `pages` and change all instances of `export` to `module.exports = `

i.e. in `page.js`
[code]

became

[code]

I'll be happy to submit a PR if you accept contributions @drptbl

[2021-05-08 12:16] joemaoniu opened #138 "axios get 403 error when runing"
https://user-images.githubusercontent.com/83738283/117539345-ca178f00-b03c-11eb-81b7-8d176344ae3f.mov

my issue happens when i try to run a specific spec, then I got an 403 error, The issue seems coming from line 50 this file
https://github.com/Synthetixio/synpress/blob/master/helpers.js

[2021-05-21 08:41] drptbl commented on #138
@joemaoniu Hey, does it still occur?

Have you followed README, "important" section?
https://github.com/Synthetixio/synpress#-important

[code]

[2021-06-10 02:32] carlos0202 opened #153 "Standalone version that doesn't ship Cypress and can be integrated into any setup."
Thanks for the good work with this wrapper. I was trying to use it and ran into some issues:

- How can we extend our cypress setup by adding custom commands and other trivial things if the library is abstracting away the cypress commands and plugins file?
- How can we use it in a typescript project with tests written in typescript?
- Is there any better way to set up everything (especially the pa

[2021-06-16 16:33] ola-jha opened #154 "Stuck on metamask window when using a custom network"
Hi thanks for this really cool tool. I have a couple of issues here. Main issue is that when I enter a custom network, the screen stays stuck on metamask screen and times out. It works fine when I use one of the pre installed networks.

I also wanted to ask if there was an easy way to add more configuration without changing it in the node modules. For example, more custom commands or events (ex. o

[2021-06-17 08:07] ola-jha commented on #135
add `npx` before `synpess run`

[2021-06-24 23:51] drptbl commented on #154
Hey @ola-jha, thanks for good words. I will take a closer look on custom network feature over the weekend and report back to you.

Sadly, there is no easy way to extend synpress functionality easily at the moment. I will consider this for future.

Cheers,
Jakub.

[2021-06-24 23:54] drptbl commented on #153
Hey @carlos0202,
1. Currently there is no easy way to do it. I will think about it in future. You have to fork the repository and add your own custom commands this way.
2. Sadly, I had no chance to test it out with Typescript project yet, so I can't really assist you here at current moment, sorry.
3. Not at current state of synpress. It's still very early in development and being solely developed

[2021-06-24 23:55] drptbl commented on #138
@joemaoniu let me know if this still happens, thanks!

[2021-06-24 23:55] #138 closed

[2021-06-24 23:56] drptbl commented on #135
🙏

[2021-06-24 23:56] #135 closed

[2021-06-24 23:56] drptbl commented on #54
@tochman sure, happy to get some help 🎉.

[2021-06-25 08:40] ola-jha commented on #154
@drptbl I actually found the issue. My string had spaces in it. It worked when it had no spaces.

[2021-06-25 10:03] drptbl commented on #154
@ola-jha thanks for feedback! let me know if you have any other issues, happy to help.

Cheers,
Jakub.

[2021-06-25 10:03] #154 closed

[2021-06-25 10:04] drptbl commented on #153
@carlos0202 Let me know if you have any other questions/feedback.

Cheers,
Jakub.

[2021-06-25 10:04] #153 closed

[2021-07-06 07:41] samuveth opened #164 "Vue support"
I see a lot of react in the dependencies, will this work with Vue.js?

[2021-07-12 19:52] drptbl commented on #164
@samuveth Hey Sam, I haven't really worked on Vue support yet, but it should be quite easily doable with small changes to synpress. I will take a look at this in future.

[2021-07-12 20:30] drptbl commented on #54
@wrobe0709 @tochman This one should be already fixed. Please ping me if not. Cheers!

[2021-07-12 20:30] #54 closed

[2021-07-23 14:57] anthanh opened #180 "Typescript migration"
Would be nice to have typescript support

[2021-08-04 07:16] borbier opened #185 "Error at confirmMetamaskTrancsaction"
I've tried using the module for testing, the processes such as set up wallet is ok. However, I've found the error on confirm a transaction, here is the prompt shown in Cypress.

[code]

I've tried searching for workaround in Puppeteer but there is no clue in this case.

[2021-08-09 07:35] marcusnewton opened #188 "setupMetamask Errors with Electron"
Getting the following issue only when running Electron.

The first issue I was getting was with the remote debugger
[code]
which I fixed by exporting `ELECTRON_EXTRA_LAUNCH_ARGS=--remote-debugging-port=9222`. I'd suggest some way to handle this internally, or at least a line of documentation.

[code]

It seems like `await metamask.initialSetup({ secretWords, network, password });` from the plugin

[2021-08-09 07:36] marcusnewton commented on #188
Call stack

[code]

[2021-08-09 07:37] marcusnewton commented on #188
Call stack
[code]

[2021-08-09 07:42] marcusnewton commented on #188
Yeah only getting 1 page showing up in `assignWindows`

`http://localhost:5000/__/#/tests/integration/e2e/specs/example-spec.ts`

[2021-08-09 19:09] drptbl commented on #188
Hey @marcusnewton, after a quick look I can see that synpress could support Electron (as Electron supports loading Chrome extensions which would be metamask in this case), but it would require more coding before that. I don't think that it's going to work in current state, sorry.

[2021-08-09 19:10] drptbl commented on #185
Hey @borbier, thanks for reporting and sorry for delay (was taking some vacations).

I will take a look in to it tomorrow, cheers!

[2021-08-10 07:20] marcusnewton commented on #188
Ok thanks for confirming.

[2021-08-13 10:06] shmuel-web opened #194 "Cannot read property 'bringToFront' of undefined"
Hi

thanks for this amazing repo

I am having an issue with the initial setupMetamask phase
after the secret pass, phrase || password step has finished

<img width="927" alt="Screen Shot 2021-08-13 at 13 01 56" src="https://user-images.githubusercontent.com/13344801/129340719-24da5c60-0761-483d-943b-166e544914ea.png">

might have missed something
should I configure "bringToFront" anywhere?

Thanks

[2021-08-13 10:20] drptbl commented on #194
Hey @shmuel-web, thanks for reporting. I will take a closer look over the weekend and try to help you.

Cheers,
Jakub.

[2021-08-13 12:57] drptbl commented on #194
Hey @shmuel-web, I'm not sure why does it happen for you, but I've just integrated `synpress` with a repository from scratch and it works just fine, you can see an example here:
https://github.com/vbstreetz/synth-scan/commit/40f1e32a7fb139a1af688e4c95c6999d136d09e0

Your issue is related to the fact that when synpress is started, there are 2 tabs open. First one is with your main application which

[2021-08-13 12:57] #194 closed

[2021-08-13 14:30] shmuel-web commented on #194
Hey thanks for the quick reply

cloned the repo you mentioned

and managed to run the e2e tests
properly

Started looking for something I was missing in my setup

noticed you are using the ```synpress run```
and I was using ```synpress open```

so I switched run with open on your repo and boom

<img width="927" alt="Screen Shot 2021-08-13 at 17 24 18" src="https://user-images.githubusercontent.com

[2021-08-13 14:49] drptbl commented on #194
@shmuel-web thanks for letting me know! I will take a look in to it 👍

Cheers,
Jakub.

[2021-08-18 02:40] Rabbit523 opened #201 "Need support: TypeError: cy.fetchMetamaskWalletAddress is not a function"
Hi, Jakub. This package is what I really wanted. Nice tool!! I referred from [Kwenta](https://github.com/Synthetixio/kwenta/tree/master/tests/e2e), but I'm having a problem like below.
![Screen Shot 2021-08-18 at 10 36 10 AM](https://user-images.githubusercontent.com/68119978/129827693-c25b6ecb-6eea-407c-8fb5-26d32a119a2d.png)
I'm working on [NX](https://nx.dev/latest/angular/getting-started/intro

[2021-08-18 07:55] drptbl commented on #201
Hey @Rabbit523, thanks for good words. It seems to be a setup error.

1. Did you follow the readme?
https://github.com/Synthetixio/synpress#-important
2. Did you set up required enviroment variables like `SECRET_WORDS`?
3. Can you see metamask setup before your tests start? (importing a wallet with secret words before tests start)
4. Do you run synpress with `synpress run`?

If above won't help, d

[2021-08-18 08:28] Rabbit523 commented on #201
Thanks for your reply, @drptbl. I looked forward your response.

1. I read the readme, but had never thought should metamaskSetup first. Will try again.
2. I didn't run `synpress run`

As I mentioned in the previous post, I'm using [NX](https://nx.dev/latest/angular/getting-started/intro) so I'm confusing how can I run `synpress`.

**package.json**
[code]

**workspace.json**
[code]

If I changed `

[2021-08-18 09:07] drptbl commented on #201
@Rabbit523 `metamaskSetup()` is done automatically, you just need to pass all environmental variables that it needs, otherwise it will fail and throw an error. `SECRET_WORDS` is one of them.

Sorry, but I can't help with `nx` as I had no chance to work with it yet, but as far as I can see you're not having your tests at `tests/e2e` path. If you want to use custom folder structure, you have to mirr

[2021-08-18 09:38] drptbl commented on #185
Hey @borbier, sorry for delay.

It works just fine in my case:
<img width="1200" alt="Screenshot 2021-08-18 at 11 35 22" src="https://user-images.githubusercontent.com/8177587/129875644-28e7b766-5eed-4eb1-a13d-c22bada093df.png">

You can refer to kwenta repository to see an example:
https://github.com/Synthetixio/kwenta/tree/fix-e2e/tests/e2e

Let me know if you have any more issues.

Thanks,
Jaku

[2021-08-18 09:38] #185 closed

[2021-08-18 12:05] Rabbit523 commented on #201
@drptbl Thank you very much for your guide. I could get more knowledge for `synpress`. But like you said, you have also no experience with `NX`. Could you kindly give me some other open source examples which are using `synpress`?
Thank you again for your guide. :)

[2021-08-18 17:08] drptbl commented on #201
@Rabbit523 Happy to help!
This is the only one that I know for now:
https://github.com/vbstreetz/synth-scan

[2021-08-19 02:35] Rabbit523 commented on #201
Hi, @drptbl. Need your help again...
package.json
 `"scripts": {
 "frontend-e2e": "start-server-and-test 'nx run frontend:serve' http-get://localhost:4200 'synpress open --configFile tests/e2e/synpress.json'",
 `
 And I followed the folder structure of `KWENTA`. So, I could open Cypress but I'm still getting this error.

![Screen Shot 2021-08-19 at 10 33 46 AM](https://user-images.githubuserconten

[2021-08-19 20:20] drptbl commented on #201
@Rabbit523 use `synpress run` instead of `synpress open`.

What is the content of your `synpress.json`?

I see some issues.. try this:
[code]

[2021-08-20 01:10] Rabbit523 commented on #201
@drptbl as I mentioned exactly, `Crypress.env` is working. So, i could get everything from the env which is defined in `synpress.json`.

![Screen Shot 2021-08-20 at 8 53 03 AM](https://user-images.githubusercontent.com/83789292/130162137-6902bd0d-07ce-409b-b44a-2b5a7d37844c.png)

![Screen Shot 2021-08-20 at 9 07 36 AM](https://user-images.githubusercontent.com/68119978/130163168-6e33d4a1-ea0f-49d9

[2021-08-20 01:15] Rabbit523 commented on #201
@drptbl Regarding the script, I already set it to `synpress open`.
![Screen Shot 2021-08-20 at 9 11 38 AM](https://user-images.githubusercontent.com/68119978/130163533-c3981dc1-76b9-4e1f-bdb4-4efeeba58b73.png)

If not, how can I get Cypress Head UI...
If you think you can correct this error, then please contact me in private way. Please check my GitHub profile.
Thank you so much, @drptbl

[2021-08-20 07:04] drptbl commented on #201
@Rabbit523 Your environmental variables are not properly named, that's the issue.  Take a look at the readme.

[2021-08-20 07:04] drptbl commented on #201
@Rabbit523 as I said, try to use `synpress run` - it works in headed mode.

[2021-08-20 11:52] Rabbit523 commented on #201
@drptbl If I use `synpress run`, there is no previous error occurs.
![Screen Shot 2021-08-20 at 7 47 36 PM](https://user-images.githubusercontent.com/68119978/130228781-519e1ea3-abc3-4162-a188-a7d98eecc021.png)
but this metamask setup always appears every time.
and once I finished setup, there is no event happen and getting this error.
![Screen Shot 2021-08-20 at 7 50 50 PM](https://user-images.gi

[2021-08-20 11:53] Rabbit523 commented on #201
[code]
As you can see, I correct the custom network setup in` synpress.json env.`

[2021-08-20 18:21] drptbl commented on #201
@Rabbit523 Most of them are placed under `BSC_TESTNET` which is also wrong. Take a look at the readme.

[2021-08-20 19:05] Rabbit523 commented on #201
![Screen Shot 2021-08-21 at 2 53 32 AM](https://user-images.githubusercontent.com/68119978/130280588-b5463346-2b3e-43c6-835c-f5fc4d4a409a.png)
@drptbl I just followed the definition of function in synpress package.
And as I told you, for easy to help, please contact me here. `worldhero2018@hotmail.com`
Thanks.

[2021-08-23 00:26] Rabbit523 commented on #201
Hi, @drptbl I think my problem is related with incompatible version matched in node modules.
Because I'm getting this error.

[code]

[2021-08-23 03:31] Rabbit523 commented on #201
HI, @drptbl , I have an improvement. Metamask setup is moved to this step automatically.
![Screen Shot 2021-08-23 at 11 27 39 AM](https://user-images.githubusercontent.com/68119978/130386251-2edbba9e-eecb-4d7a-965d-416a55c306ba.png)
But the seed phrases are not put automatically.
Anyway, install node_modules with `yarn`, there is no automatic progress, but with `npm` I could get this step.
It's we

[2021-08-23 07:35] drptbl commented on #201
@Rabbit523 If this step fails to pass it means you're missing `SECRET_WORDS` variable and I can see that you've named it `METAMASK_SECRET_WORDS`. Again, you're not following the readme, everything is described there.

[2021-08-23 09:52] Rabbit523 commented on #201
Hi, @drptbl. Thanks for your reply again. 🙏
Please confirm the env again. I made env like this.
[code]

[2021-08-25 11:27] drptbl commented on #201
@Rabbit523 I'm sure that if you're going to follow the readme, you will know if env is right.

Please, let me know if you're going to have any issues related to synpress itself (technical issues/bugs/etc). I can't assist you further as I've already put a lot of my time trying to help you, sorry. Just start following the readme and you will make it work. I've also provided two different repos as an

[2021-08-25 11:27] #201 closed

[2021-08-28 02:23] lpf763827726 opened #208 "Why am i socket hang up or ETIMEDOUT?"
i havn't change anything, and the test file are almost empty, but always socket hang up or ETIMEDOUT?

![2021-08-27_17-40](https://user-images.githubusercontent.com/43004977/131203146-fbb29acc-e7fc-43a7-b018-03d3edd75e95.png)
![2021-08-28_09-39](https://user-images.githubusercontent.com/43004977/131203148-20809894-31e6-4915-b9de-84652746ad73.png)
![2021-08-28_09-39_1](https://user-images.githubuse

[2021-08-28 02:24] lpf763827726 commented on #208
when i run any test, it always starts for a long time

[2021-09-03 20:57] drptbl commented on #208
Sorry but you're not following the readme. That's the main reason of your errors.

[2021-09-03 20:57] #208 closed

[2021-09-06 03:49] lpf763827726 commented on #208
i try to follow the readme, but when i run `npm run syncress:run` it will err:
[code]

my synpress:run is `synpress run --configFile tests/e2e/customConfig.json`

customConfig.json:
[code]

i use `run` always timeout, but i use `open`, i have 30% can open the test(but it need so long time)

[2021-09-14 05:49] shawnwang0715 opened #215 "Cannot run in docker with Xvfb installed"
I found some behaviors are weird and make this can't run in docker.

1. In this line: https://github.com/Synthetixio/synpress/blob/b9c2f3fdb7bb701fe190efe2099349e489d3d8e3/commands/puppeteer.js#L38
It detects whether the URL contains `integration`, however, Cypress seems doesn't have `__/#/tests/integration` suffix when running in docker, and this makes this detection failed.

2. I don't know why

[2021-09-14 13:58] shawnwang0715 commented on #215
I think I was confused: is docker with Xvfb headed or headless? I know this package doesn't support headless mode but I'm not sure whether Xvfb is headed or headless.

[2021-09-14 15:37] drptbl commented on #215
@shawnwang0715 you can use this docker image as a reference:
https://github.com/Synthetixio/docker-e2e

as per readme, you need xvfb in docker container because synpress runs only in headed mode.

both of the issues you've mentioned above shouldn't be a case with proper setup.

1) this url indeed exists and it shouldn't be an issue
2) probably related to missing xvfb inside docker container

[2021-09-15 15:06] #215 closed

[2021-09-15 15:06] drptbl commented on #215
Hey, I'm closing this issue as it's not technical issue with synpress itself. Let me know if you need any more help.

Thanks,
Jakub.

[2021-09-17 10:27] jamesapc opened #218 "Cannot read property 'waitForTimeout' of undefined"
I use command synpress open after this command i can't use function cy.confirmMetamaskWelcomePage() in '@synthetixio/support/index.js' and on cypress window show err = "Cannot read property 'waitForTimeout' of undefined"
how i should handle them all.

Thank you

[2021-09-17 15:57] shawnwang0715 commented on #215
Thanks for your reply, I tried to run synpress with a docker image `cypress/base:14.17.0` and it works too. So it must be something wrong with my previous environment.

[2021-09-17 16:06] drptbl commented on #215
@shawnwang0715 glad to hear you've figured it out 🎉. Thanks for feedback! 🙏

[2021-09-17 16:09] drptbl commented on #218
Hey @jamesapc, thanks for reporting the issue. Please use `synpress run` for now, you can find more details about it in the readme. In terms of `confirmMetamaskWelcomePage()` => I'm sure it's working properly if you follow the readme and do the proper setup. You can use kwenta repo as reference:
https://github.com/Synthetixio/kwenta/tree/dev/tests/e2e

If you're going to have any technical issues

[2021-09-21 05:53] shawnwang0715 opened #224 "Can't add network in docker container"
Sorry, I can't find a way to re-open the issue in https://github.com/Synthetixio/synpress/issues/215, so I create a new one.

When I try to add a network in docker container, it always gets stuck in here:
https://github.com/Synthetixio/synpress/blob/b9c2f3fdb7bb701fe190efe2099349e489d3d8e3/commands/metamask.js#L228-L230

Here's my `docker-compose.yml`:

[code]

After starting the docker container,

[2021-09-21 10:44] jamesapc opened #225 "Synpress can clear cache after function setupMetamask() ?"

[2021-09-22 17:35] drptbl commented on #225
Please describe the issue.

[2021-09-22 17:35] #225 closed

[2021-10-03 14:59] sxlwar opened #230 "Variable name error"
https://github.com/Synthetixio/synpress/blob/f85eb61d890db9227be105646dd80de6b2b64749/support/commands.js#L110

I think the secretWords variable should be rename to secretWordsOrPrivateKey

[2021-10-07 17:25] #224 closed

[2021-10-08 01:31] shawnwang0715 commented on #224
Hey @drptbl, I'm not sure whether this is an issue, but when I tried to enter the wrong values (for example, a `RPC_URL` without `http://` or `https://` prefix) to a custom network, synpress can still continue the process (click save button, although it's not clickable in GUI) without any warning or error messages.
And then, synpress tries to wait for the custom network to appear in the drop-down

[2021-10-12 06:51] RabbitTerra opened #234 "Need a extra commands for confirming sign message on metamask"
![image](https://user-images.githubusercontent.com/83789292/136905763-9c2ba52e-53e8-4d37-8862-e559b4a427d7.png)

Hi, @drptbl. I'm having a trouble with confirming this personal sign and `eth_signTypedData_v4` request metamask popup.
I can't find proper command from the package.
Do you have an any idea for this?
Regards

[2021-10-12 07:09] drptbl commented on #234
Hey @RabbitTerra,

There are commands for it:
https://github.com/Synthetixio/synpress/blob/dev/support/index.d.ts#L109-L120

You can use:
`cy.confirmMetamaskSignatureRequest();`
or
`cy.rejectMetamaskSignatureRequest();`

They have not been released as "production" release yet. If you want to use them, bump your `synpress` version to `0.9.25-beta.12` in `package.json`.

[2021-10-12 07:24] RabbitTerra commented on #234
Hi, @drptbl . Thanks for your fast reply.
The command is working well.
Thank you very much for your support.

[2021-10-12 07:25] #234 closed, assigned to nobody

[2021-10-12 16:57] RabbitTerra opened #237 "Need help for change accounts on metamask"
Hi, @drptbl.
Is there any method for changing accounts on metamask?

[2021-10-13 19:34] drptbl commented on #237
Hey @RabbitTerra,

Yes, it's possible now :).

1. `cy.switchMetamaskAccount(accountNumber)`, for example: `cy.switchMetamaskAccount(2)`:
<img width="361" alt="Screenshot 2021-10-13 at 21 28 39" src="https://user-images.githubusercontent.com/8177587/137200560-36ffaa64-8df1-436a-abbf-63b4b2e9c2f3.png">
2.`cy.switchMetamaskAccount('accountName')`, for example: `cy.switchMetamaskAccount('Account 2')`

[2021-10-14 07:15] #237 closed, assigned to drptbl

[2021-10-14 19:17] jpangelle commented on #133
I am having a similar issue with `yarn`. Any idea on how to resolve it? My `yarn` install process just hands forever.

[2021-10-15 23:48] NameItNow opened #242 "Metamask setup blocks on seed phrase"
Hey,

So I was just trying to launch a simple test with `synpress run`, the metamask extension opened in the test controlled browser but it just blocks on the wallet seed page. Synpress isn't typing my seed and I don't know why...

I checked my metamask version it's the latest 10.2.2 (so the latest).
Before running `synpress run` I call a bash script that sets my environment variables.

The script

[2021-10-16 00:28] NameItNow commented on #242
Hey, so in the end I just created a bash script called from within my package.json
[code]

[2021-10-16 00:29] #242 closed

[2021-10-16 01:15] NameItNow opened #243 "Import by private key is not working"
Hey,

So everything seems to work fine on my side except regarding the import by private key feature.

When I declare my env variable with `SECRET_WORDS` everything works fine but when I try to use `PRIVATE_KEY` instead the setup goes to seed phrase page of metamask anyway and gets stuck here since my `SECRET_WORDS` env variable isn't set.

I tried running by setting both `SECRET_WORDS` and `PRIVA

[2021-10-16 01:47] NameItNow opened #244 "changeMetamaskNetwork is not working"
Hi again,

The `changeMetamaskNetwork` is not working currently I tried to call it with and without `await` but it doesn't fix the issue.

My output
[code]

[2021-10-16 08:17] drptbl commented on #243
Hey,

Can you tell me the exact vesion of synpress that you use?

Thanks,
Jakub.

[2021-10-16 08:17] drptbl commented on #244
Hey,

Can you tell me the exact vesion of synpress that you use?

Thanks,
Jakub.

[2021-10-16 12:08] NameItNow commented on #244
Here it is ;)

[code]

[2021-10-26 18:20] DimitarTAtanasov opened #252 "confirmMetamaskTransaction function fails with the default metamask version 9.7.1"
Thanks for the great work on Synpress, this library looks awesome. Anyway I am struggling with something when I try to confirm transactions.

Steps to reproduce:
Leave env variable for metamask version blank (use the hardcoded version 9.7.1)
Execute: synpress run
Metamask is being initialized
The chosen address is visited
The user wallet is connected to the dApp
Button leading to transaction which

[2021-10-27 23:08] drptbl opened #253 "If NETWORK_NAME is set from an env var then `changeMetamaskNetwork()` can't be used to change metamask network"
https://github.com/Synthetixio/synpress/issues/252#issuecomment-953012539

Reported by @DimitarTAtanasov

[2021-10-27 23:09] #252 closed, assigned to nobody

[2021-10-28 16:00] drptbl opened #255 "Metamask 10+ support"
Add support for metamask post-EIP1559 (metamask >9).

[2021-10-28 17:36] #253 closed, assigned to drptbl

[2021-11-01 22:52] drptbl commented on #224
Hey @shawnwang0715, I've addressed **all** issues you've described above. Sorry for delay!

You can check it out using `@synthetixio/synpress@1.0.2-beta.0`.

Thanks for awesome feedback 🙏.

All Best,
Jakub.

[2021-11-08 08:21] divyag-RC opened #273 "getting zsh: number expected while running setupMetamask"
➜  synpress git:(master) ✗ synpress run setupMetamask('secret phase', 'localhost', 'password')
zsh: number expected

[2021-11-08 12:01] drptbl commented on #273
@divyag-RC I can't understand what the issue is, sorry. You have to provide more details.

Also, this is not how you run synpress. Please refer to the README for more details:
https://github.com/Synthetixio/synpress#readme

[2021-11-08 12:01] #273 closed

[2021-11-09 10:13] divyag-RC commented on #273
Please refer the screenshot , I am getting this error , what am i doing wrong
<img width="693" alt="Screen Shot 2021-11-09 at 2 12 02 PM" src="https://user-images.githubusercontent.com/85945451/140905418-344bd4e3-00aa-4470-8895-f6bd9cc81329.png">
 ?

[2021-11-09 11:11] drptbl commented on #273
@divyag-RC Error is self-explanatory. You're missing `SECRET_WORDS` or `PRIVATE_KEY` variable.

Again, please follow the readme as it's explained there:
https://github.com/Synthetixio/synpress#-important
<img width="840" alt="Screenshot 2021-11-09 at 12 10 06" src="https://user-images.githubusercontent.com/8177587/140913848-3894e7d1-bc26-431d-8097-061971423a7a.png">

[2021-11-12 14:09] aguirrel opened #275 "I can't make it work on Gitlab CI"
Hi guys,

Have somebody ever make synpress work with some CI? I'm trying to make it work with Gitlab CI, but it doesn't work.

Thanks a lot!

Best regards,

[2021-11-12 14:14] drptbl commented on #275
@aguirrel helpful resources:
- https://github.com/Synthetixio/docker-e2e
- https://github.com/Synthetixio/staking/blob/dev/.github/workflows/audit_build_verify.yml#L108-L187
- https://github.com/Synthetixio/staking/blob/dev/package.json#L17
- https://docs.cypress.io/guides/continuous-integration/introduction
- https://docs.cypress.io/guides/continuous-integration/ci-provider-examples#GitLab-CI
- h

[2021-11-12 14:14] #275 closed

[2021-11-16 15:04] brave-merida opened #276 "How to connect Account2 to my site"
Hi!
I created the Account2 by ```cy.createMetamaskAccount```
And ```cy.switchMetamaskAccount```
But I cannot let the Account2 connect to my website.
How can I resolve this?
Thank you!

[2021-11-16 16:32] garmeeh opened #277 "Apply for Gitcoin grant"
Recently came across this project when trying to see how best to test Dapps. I think it will be invaluable for the community, maybe to help support the development of it you might consider applying for a [Gitcoin grant](https://gitcoin.co/grants/)

[2021-11-16 20:39] cinjon opened #278 "Failing to complete setupMetamask."
I have the following simple test. I've also set it up almost exactly as in the instructions. However, synpress is failing with the following error:

[code]

Any idea what's going on?

[code]

[2021-11-16 20:52] cinjon commented on #278
This is true even if I just copy-paste in https://github.com/Synthetixio/synpress/blob/master/tests/e2e/specs/metamask-spec.js and run it. It always fails to complete the `cy.task('setupMetamask')` function.

[2021-11-26 00:21] raparri01 commented on #278
I had a similar issue and it took a few rounds of debugging to get this base test case passing. Here's what I noticed / changed:

1. The tsconfig.js in my /tests/e2e was not being picked up by the typescript compiler so I had to make debugging changes to the tsconfig in my project root
2. The application running at localhost didn't accept connections to rpc's with chainId: 42 (kovan) so I made sur

[2021-11-26 11:54] cinjon commented on #278
Thanks for helping @raparri01 . I switched to using dappeteer (with puppet) and it worked more smoothly.

[2021-11-26 11:54] #278 closed

[2021-11-26 13:17] drptbl commented on #278
@cinjon @raparri01 sorry for late response.

You are missing `SKIP_METAMASK_SETUP=true` if you want to use your custom `setupMetamask()` function in tests. In general, you shouldn't be really using it this way if not required.

I recommend sticking with default method which requires you to set environmental variables mentioned in the readme to make it work (like `SECRET_WORDS='test test'` or `PRIV

[2021-11-26 13:21] drptbl commented on #276
Hey @brave-merida.

It sounds like dapp-related thing, not related to synpress itself.

After calling `cy.switchMetamaskAccount`, account is properly switched to another, right?

So now, it depends how your dapp handles this specific case. For example, you could refresh the website in your tests (afte switching your account in metamask) and try to connect wallet again in the dapp. This time it sho

[2021-11-26 15:29] raparri01 opened #286 "Metamask Extension Not Opening in Separate Tab"
After running `export SECRET_WORDS=some-secret-words; export RPC_URL=https:\/\/kovan.infura.io\/v3\/9aa3d95b3bc440fa88ea12eaa4456161; export CHAIN_ID=42; npx synpress run -b firefox`

The resulting cypress instance not have MetaMask setup open in a separate tab, I am not sure what caused this to happen as it was setting up properly previously.

[2021-11-26 16:04] drptbl commented on #286
Hey @raparri01,

Thanks for reporting this issue. Firefox is not yet supported.

To run it on Chrome, you can try:
`SECRET_WORDS='word1, word2, ...' RPC_URL='https://kovan.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161' CHAIN_ID=42 npx synpress run`

[2021-11-26 17:50] raparri01 commented on #286
Thanks @drptbl this got it working again

[2021-11-26 17:50] #286 closed

[2021-11-26 18:21] raparri01 opened #287 "Running `synpress open` causes command to be run in loop"
After running `export NETWORK_NAME=rinkeby; export SECRET_WORDS=shuffle\ stay\ hair\ student\ wagon\ senior\ problem\ drama\ parrot\ creek\ enact\ pluck; npx synpress open`

A command is executed in a loop and causes the cypress window to not open: `npm exec synpress run -b firefox`
![image](https://user-images.githubusercontent.com/32496022/143618888-69dbfe82-8d87-4e12-815e-7c7a0184362b.png)

Cou

[2021-11-26 18:39] raparri01 commented on #287
^ reinstalling synpress fixed this issue

[2021-11-27 00:31] #287 closed

[2021-11-27 00:31] drptbl commented on #287
Firefox is not supported as for now.

[2021-12-03 12:36] drptbl commented on #276
I'm closing this task as it doesn't seem to be related to synpress at all.

Please re-open if you're having any issues with synpress itself.

Thanks,
Jakub.

[2021-12-03 12:36] #276 closed

[2021-12-14 08:40] kathodler commented on #255
This was the first blocker that I came across here otherwise working with this was a dream. I got here because I am forking mainnet to test preexisting tokens that were launched after eip1559. Would be good if there was a way to download selectors for versions of metamask to a file or scripts that gets read so that support can be enabled buy updating a selectors file or even installing an npm pack

[2021-12-15 04:43] shawnwang0715 opened #294 "Can't connect to dApp after switching account."
When switching accounts in the MetaMask notification window, it would show a prompt to let you connect the next account to your dApp. However synpress switches accounts in a new tab of MetaMask (expanded view). In this case, the prompt won't show, so the new account won't be able to interact with the dApp...

I guess one workaround is that make synpress 'select all' accounts when it makes MetaMask

[2021-12-15 14:31] serzhshakur opened #295 "SKIP_RESOURCES_WAIT flag doesn't work"
`SKIP_RESOURCES_WAIT` is always `null`. This is because `process.env.` is used to retrieve environment variable.
`Cypress.env()` can be used insted for this work. But due to the fact that [Cypress ignores all environment variables that do not start with `CYPRESS_`](https://docs.cypress.io/guides/guides/environment-variables#Option-3-CYPRESS_) need to set `CYPRESS_SKIP_RESOURCES_WAIT` insted

[2021-12-16 08:43] serzhshakur commented on #295
@drptbl can you please review my PR?

[2021-12-20 13:48] drptbl commented on #255
@kathodler Thanks for feedback! I will make sure to update synpress with metamask@10 until end of the week.

[2021-12-20 13:48] drptbl commented on #295
@serzhshakur will do it today, thanks a lot and sorry for delay.

[2021-12-20 13:49] drptbl commented on #294
Hey @shawnwang0715, thanks for feedback.

I will investigate this later today.

[2021-12-21 22:21] drptbl commented on #295
Hey @serzhshakur, it has been merged and released as `@synthetixio/synpress@1.1.1`.

Thanks for contribution!

All Best,
Jakub.

[2021-12-21 22:21] #295 closed

[2021-12-22 08:26] serzhshakur commented on #295
Hey Jakub,

thanks a lot!

[2022-01-12 12:08] avp1598 commented on #294
Hi @drptbl I have a potential fix for this, which is to accept access to all accounts instead of just 1. However I am not familiar with the process of merging this fix with the library. Should I just raise a PR?

[2022-01-12 13:12] drptbl commented on #294
Hey @avp1598, that's great to hear. Yes, please open a new PR. Thanks! 💪

[2022-01-24 17:31] XanderJL opened #315 "Error launching browser"
Apologies if this is redundant, but I haven't seen any reference to this in the issues. using `@synthetixio/synpress@1.1.1`

[code]

![image](https://user-images.githubusercontent.com/25848639/150833400-7e2a6f65-8661-402a-84b9-ad0defc62541.png)

I'm passing in my env vars with `dotenv-cli` and the test I'm attempting to run is just attempting to visit the landing page of a project:

[code]

[2022-01-24 20:02] drptbl commented on #315
Hey @XanderJL, thanks for reporting.

I couldn't reproduce the issue, so it seems like setup/user error.

Could you please let me know which command do you use to run your tests?

Also, is your setup available on open web? I could take a quick look and see what's going on.

All Best,
Jakub.

[2022-01-24 22:23] XanderJL commented on #315
It's most certainly a user error 😅

Unfortunately it's a closed repo, but I hope this info suffices!

using `node v16.13.1`
It's a next 12 project using a `./src` dir, so I'm preloading my env vars from `.env.local` with `dotenv-cli`.

Cypress loads up just fine, but when I attempt to run the metamask test, I'm met with the error re: window width x height. I thought this may be a wsl2-related bug,

[2022-01-25 17:59] ghardin1314 commented on #315
Are you sure you have chrome installed? I had this issue also and I think it was because cypress was trying to use electron

https://github.com/Synthetixio/synpress/blob/e47f4cadc05aeb8c580a124805b5e29a0caedd02/plugins/index.js#L21-L26

[2022-01-25 18:46] XanderJL commented on #315
Oh my gosh. Switching to chrome fixed it 🤦

![image](https://user-images.githubusercontent.com/25848639/151039174-aa80c690-f63b-40e0-8ef5-70fd4962f5e2.png)

Totally was user error. Sorry for the fuss @drptbl and thanks for pointing me in the right direction @ghardin1314 😅

[2022-01-25 18:46] #315 closed

[2022-01-26 10:30] drptbl commented on #315
No worries @XanderJL, glad that you've sorted it out.

Thanks for helping out @ghardin1314!

Cheers,
Jakub.

[2022-01-28 13:08] fandrupaw opened #316 "importPk button is now primary"
importPk button is now primary so selector should be ```importButton: `${importAccountSelector} .btn-primary` ```

[2022-02-01 23:56] fandrupaw opened #320 "cypress thinks that `cy.task('setupMetamask')` is not finished"
I cannot run my tests cuz cypress thinks that  `cy.task('setupMetamask')` is not finished
Metamask setup goes smooth, then first test cannot start because cypress hangs on before all hook. Extending `defaultCommandTimeout` does not help

On the first run (just after install synpress) i got `Cannot read property 'waitForTimeout' of undefined` then error disappeared but above problem happen

![image

[2022-02-02 10:33] fandrupaw commented on #320
looks like cypress has a problem with resolving promise from setupMetamask task

[code]

[2022-02-03 11:08] fandrupaw commented on #320
ok, after tons of debugging I found that `setupMetamask` is invoked twice, dunno why :/ I modified `cypress/commands/metamask.js`

[code]

[2022-02-07 12:04] kabaneridev opened #323 "confirmMetamaskSignatureRequest failing => timeout"
Hi,

There is problem with method
`cy.confirmMetamaskSignatureRequest();` => it leads to timeout error when trying to sign message.
[code]
<img width="349" alt="Screenshot 2022-02-07 at 13 04 13" src="https://user-images.githubusercontent.com/48051231/152784817-3968a719-76f6-40e6-a884-46bd98750352.png">

![Screenshot 2022-02-07 at 13 05 36](https://user-images.githubusercontent.com/48051231/152784

[2022-02-07 12:29] #323 closed

[2022-02-07 12:37] saur-bh opened #325 "Broken Selector for confirmMetamaskSignatureRequest();"
### Discussed in https://github.com/Synthetixio/synpress/discussions/324

<div type='discussions-op-text'>

<sup>Originally posted by **saur-bh** February  7, 2022</sup>
After investigation found that selector needs to be corrected in
@synthetixio/synpress/pages/metamask/notification-page.js as
{code}
const confirmSignatureRequestButton = `${notificationPage} .signature-request-footer :last-child`

[2022-02-07 15:19] blackpintz opened #326 "CypressError: `cy.task('setupMetamask')` failed"
Hey, I keep getting the following error even after doing the whole setup as described in synpress readme:
[code]
I run this code on package.json:  `"test:e2e": "start-server-and-test 'npm start' http-get://localhost:3000 'env-cmd -f .env synpress run'"`

Here is my spec file:

[code]

I don't know if this is the issue but I am using react functional components instead of nextjs and no typescript.

[2022-02-07 19:00] coleUI commented on #326
@blackpintz If you want to skip metamask extension installation or metamask setup, you can use SKIP_METAMASK_INSTALL and SKIP_METAMASK_SETUP separately. Both variables accept 1 or true.

That is from the readme. I had to use this and setup metamask with `cy.setupMetamask()` or else I would get the same error as you.

With that said, I am still getting this error when trying to override the config

[2022-02-09 16:09] blackpintz commented on #326
@coleUI, I just added a `tsconfig.json` file in the root directory and typescript packages and now the error is gone. Maybe you can also check how you are calling the test file in `package.json`. Example: `"test:synpress:open": "env-cmd -f .env synpress open"`.

[2022-02-09 16:10] #326 closed

[2022-02-09 18:06] blackpintz opened #331 "How can I add/import a token"
Hi, is there a function that I can use to add/import a token?

[2022-02-09 19:15] coleUI commented on #326
@blackpintz I had my tsconfig.json in the tests/e2e, but my issue was resolved when I added "supportFolder" and "pluginsFolder" in the synpress.json config file. It did not know where to reference those folders, which look in the source directory by default. I had to add values to point them to the synpress instance in node_modules.

This should probably be added to the synpress docs since it curr

[2022-02-10 12:44] drptbl commented on #331
Hey @blackpintz. Sadly there is no such function yet, but I will try to implement it until end of this week. Expect it to be included in next synpress release, which is expected until Monday.

Cheers,
Jakub.

[2022-02-10 13:18] blackpintz commented on #331
@drptbl Okay, thank you. Another issue I am having is trying to call `confirmMetamaskTransaction()`. I keep getting this error:
[code]
Not sure if it is me calling it wrongly.
You can find my code for this here: https://github.com/blackpintz/FE-Challenge/tree/e2e-tests
And I am using `synpress run`. Please advise.

[2022-02-15 03:10] ghardin1314 commented on #325
I am also having an issue with this method using MM v9.7.1. Not sure if its related but I think it has to do with `eth_sign` vs `signTypedData_v4`. The former works just fine to sign arbitrary strings but using the later hangs for both `confirmMetamaskSignatureRequest` and `rejectMetamaskSignatureRequest`

Using ethers to interact with MM if that makes any difference

[2022-02-15 15:49] blackpintz commented on #331
It worked when I used `cy.confirmMetamaskPermissionToSpend()` instead.

[2022-02-21 05:37] haluvibe opened #338 "cypress always closes - even with noExit flag"

[2022-02-21 17:14] maxhoheiser opened #340 "confirm / provide Request encryption public key"
Hi, I want to confirm the request to provide a encryption public key with synpress, but I could not find it as a custom command. Is there a way to confirm arbitrary requests to metamask independent of the type via puppeteer?

[2022-02-22 16:30] maxhoheiser commented on #340
I tried to implement a new custom command for it, but I am stuck getting puppeteer to find the right buttons.

I tried adding following element to `notivication-page.js`

[code]

based on the class of both buttons
![image](https://user-images.githubusercontent.com/15856892/155175655-a9f64842-9958-4900-9cef-26d39c3f5109.png)

I also created the new command both in `metamask.js` and in added it to c

[2022-02-23 15:07] moshmage opened #343 "default gas on kovan breaks e2e"
https://github.com/Synthetixio/synpress/blob/90cafd68218434081a1c7a22c9577084bfba9fc7/commands/metamask.js#L447

Why is this default to `1` when we provide a `gasConfig`?

[2022-02-28 11:33] cs-balazs opened #346 "Use Cypress plugins with synpress?"
Is it possible to use Cypress plugins?
I defined these in `cypress.json`:
[code]

But the plugins only seem to be loaded when using `synpress open` not with `synpress run`.
I would like to use `cypress-file-upload` and custom commands.

I also can't see any plugin-related folders is the example project structure in the README.

[2022-03-07 09:35] maxhoheiser commented on #346
I think currently the issue is that synpress is not loading the cypress index.js, since I can also not define commands there, therefor plugins defined there are also not taken into consideration, my workaround is to use a forked version of synpress currently and modify the synpress index.js to my needs

[2022-03-07 10:54] cs-balazs commented on #346
Thanks for the response! I ended up doing the following as a workaround:
Plugins file (`cypress/plugins/index.js` in my case):
[code]
Support file (`cypress/support/index.js` in my case):
[code]

I'm passing this option to `synpress run`: `--config supportFile='cypress/support/index.js',pluginsFile='cypress/plugins/index.js'`.
Commands defined in `cypress/support/commands.js` do get loaded this wa

[2022-03-09 04:47] kwdikeman opened #354 "confirmMetamaskPermissionToSpend Error"
task.(confirmMetamaskPermissionToSpend)
CypressError
cy.task('confirmMetamaskPermissionToSpend') failed with the following error:

The call to approve permission for spend of coins works - invokes the metamask popup

Fails on: cy.confirmMetamaskPermissionToSpend();

[2022-03-10 16:17] maxhoheiser commented on #346
Nice workaround!
I tried something similar too, but instead of directly passing it into the synpress run, I specified the `supportFile` in my `synpress.json` configuration file like so:

[code]

And I pass the config file to the synpress run like so: `synpress run -cf synpress.js` - but that is not working 🤔

[2022-03-14 13:07] maxhoheiser commented on #354
can you share a bit more details how you use it in the spec file? Because for me the command works just fine. What I found is, that sometimes if you dont chain the .then onto the async commands, the next command will run before the metamask interaction is finished, which will lead to errors.

[code]

[2022-03-16 02:37] kwdikeman commented on #354
For whatever reason if I do not go through the main unlock of MM I can get the confirmMetamask commands to fail.
This is solved.  I did chain the .then on the command as well.

[2022-03-16 02:42] kwdikeman opened #357 "unlockMetamask().then Error"
I have a script that does the initial setup and imports the accounts I need for testing.  I then change the support/index.js to SKIP_METAMASK_SETUP and INSTALL.

As I got through the rest of the scripts I want to just call the unlockMetamask() to unlock and proceed with tests.  Once unlocked I can change accounts as necessary.

usage:  NOTE: The commented cy.setupMetamask works but is slow and doe

[2022-03-17 12:38] cs-balazs commented on #346
That's how I also tried originally. For some reason this way the commands only seemed to load with `synpress open`.
I just tried `cypress-file-upload` with the workaround I posted, and it also works, however, I also needed to pass `fixturesFolder='cypress/fixtures'` in my `synpress run` command, as that one also seems to be ignored when defined in the config file.

The whole command looks like thi

[2022-03-17 12:38] #346 closed

[2022-03-20 23:35] kwdikeman opened #362 "switchMetamaskAccount('Account 0') not Working"
I can create/import wallets/accounts and name them anything I'd like.  In the latest test I've have a 'default QA', Account 0, Account 1, Account 2, Account 3.

CreateNode_account0.js - this is to switch to 'Account 0' and create a node - The last test was import/Rename for 'Account 3'
The first part of the test does not error out nor does it switch to 'Account 3'.   It seem it doesn't matter what

[2022-03-23 11:10] drptbl commented on #343
Hey @moshmage, thanks for report. I will fix it today. Sorry for the delay.

[2022-03-27 07:36] dev2021-ctrl commented on #326
@coleUI  @blackpintz  I am facing the similar issue.I tried adding folders but still getting same error.
Please advise.
My test script is below
''''
describe('Metamask', () => {
  context('verifying commands', () => {

    it(`Try to connect to website`, () => {
      cy.visit('/');
      cy.contains('Welcome')

    });

  });
});

''''

[2022-03-27 07:40] dev2021-ctrl opened #370 "`cy.task('setupMetamask')` failed with the following error: > Cannot read properties of undefined (reading 'waitForTimeout')"
My test script is below.the issue is random so sometimes the tests are passed and sometimes it fails.
I am running on ubuntu with latetst verion of synpress.
I can share the synpress json file fi needed.
Please advise anyone .A bit urgent.

describe('Metamask', () => {
  context('Test11 commands', () => {

    it(`Try to connect to website`, () => {
      cy.visit('/');
      cy.contains('Welcome'

[2022-03-28 08:48] blackpintz commented on #326
@dev2021-ctrl Did you install the typescript packages as well? Maybe you can share more code snippets of your work...

[2022-04-01 16:59] L-TheG opened #379 "npm install --save-dev @synthetixio/synpress fails"
Hi I am having issues installing using npm.

`npm install --save-dev @synthetixio/synpress fails`
fails with:
`npm ERR! code ENOENT`
`npm ERR! syscall spawn git`
`npm ERR! path git`
`npm ERR! errno -4058`
`npm ERR! enoent An unknown git error occurred`
`npm ERR! enoent This is related to npm not being able to find a file.`
`npm ERR! enoent`

I tried using the --legacy-peer-deps flag aswell

I am u

[2022-04-06 08:10] saxenashivang commented on #370
You can check this - https://github.com/saxenashivang/cypress-metamask-v2, I have updated the code and solved the known issues.

[2022-04-06 08:11] saxenashivang commented on #354
You can check - https://github.com/saxenashivang/cypress-metamask-v2, I've fixed the known issue and updated it according to the latest cypress.

[2022-04-06 20:15] #343 closed

[2022-04-06 20:16] drptbl commented on #340
@maxhoheiser included in this release: `@synthetixio/synpress@1.2.0`.

Thanks for contribution!

[2022-04-06 20:16] #340 closed

[2022-04-06 20:17] drptbl commented on #343
Hey @moshmage, sorry for such a big delay, again.

This has been fixed and released as `@synthetixio/synpress@1.2.1-beta.0`. Thanks for reporting!

[2022-04-06 22:07] moshmage commented on #343
np mate, we all have lives :)

Thanks for pinging!

[2022-04-07 11:36] L-TheG commented on #379
I tried again with the newest npm version (v8.6) and a completely empty node project, leading to the same result.

[2022-04-07 12:07] L-TheG commented on #379
I managed to fix this by putting cypress and synpress into the package.json file and then installing them both at the same time using "npm i"

No idea why this worked but "npm i @synthetixio/synpress cypress" did not work.

[2022-04-07 12:07] #379 closed

[2022-04-07 15:05] drptbl commented on #379
Hey @L-TheG, thanks for letting me know. I will make sure to verify what's going with Windows and get back to you.

Cheers!

[2022-04-07 17:57] L-TheG opened #389 "Unsure where to add custom browsers"
Hi everyone,

my Chrome install is not being recognized by synpress/cypress. (which is weird by itself, since it is in the default location).
So I am trying to explicitly tell synpress where my chrome browser is located.
For this I tested [this](https://docs.cypress.io/guides/guides/launching-browsers#Customize-available-browsers) approach on a vanilla cypress install (meaning no synpress) on an o

[2022-04-07 18:23] L-TheG commented on #379
Ok after some more experimenting, it turns out it does actually work with only adding synpress (explicitly adding cypress not necessary) to the package.json. So it seems to only be the "npm i synpress" command that seems to be the issue

[2022-04-07 20:59] L-TheG commented on #389
Also as a side note:
The first time running synpress creates the cypress folder containing the plugin, integration, fixture folders you usually get with cypress.
When you modify the cypress/plugins/index.js file to look like this:
[code]
And then run "synpress open" you get the option to select Chrome. But Chrome still does not get recognised with "synpress run"

[2022-04-11 00:26] kennetheversole opened #393 "Plugins file error on run/open"
I apologize for my naiveness, but whenever I run `yarn synpress run/open` I am getting the following error. Any advice would be fantastic. I have not done anything more than whatever is in the install instructions for my setup.

[code]

[2022-04-11 04:56] drptbl commented on #393
@kennetheversole can you try with node 16 and npm 8? 🙏

[2022-04-12 01:54] kennetheversole commented on #393
@drptbl That seems to work, but now I am getting issue with the metamask setup

[code]

[2022-04-13 03:06] DanyalKhawaja commented on #294
I assume you have already resolved it, otherwise   cy.acceptMetamaskAccess(true); will connect all accounts

[2022-04-13 14:18] shawnwang0715 commented on #294
Yes, I created the PR. Thanks for reminding me to close this issue.

[2022-04-13 14:18] #294 closed

[2022-04-18 23:10] #393 closed

[2022-04-22 11:39] pcardosolei commented on #325
Hi @saur-bh

Where does it stop when running the tests?

In my cases it does not go through the account selection in the Metamask wallet.
It is very strange because if i use run the command cypress open it works (it selects the account 1).

When i run "cypress run"
I'm using the Synpress as a plugin within cypress because i don't want to have setup Metamask at all the files.

[2022-04-22 13:03] pcardosolei commented on #325
A bit more context.

![Screenshot 2022-04-22 at 14 03 16](https://user-images.githubusercontent.com/10116142/164719707-a3628720-9e7c-4889-b141-e249e72360a5.png)
![Screenshot 2022-04-22 at 14 03 21](https://user-images.githubusercontent.com/10116142/164719710-28b47ce1-3472-4228-9bbf-792e80b3b544.png)

[2022-04-22 18:27] pcardosolei opened #398 "Strange behaviour while connecting to metamask"
Hello.

I'm using synpress as a plugin by adding it on the cypress configuration.

I'm using the following two commands
local debug: `"cy:open": "CYPRESS_REMOTE_DEBUGGING_PORT=9222 cypress open"`

dashboard is cool to run in my machine a single file.

CI/CD: `"cy:run": "CYPRESS_REMOTE_DEBUGGING_PORT=9222 cypress run --headed --browser chrome"`

to work on the pipeline.

I have a test where it atte

[2022-04-22 18:28] pcardosolei commented on #325
did some debugging.

https://github.com/Synthetixio/synpress/issues/398

not sure if related.

[2022-04-22 20:17] drptbl commented on #398
Hey @pcardosolei, thanks for reporting. I'm still here, reviewing all of the issues and working hard on `synpress@2.0.0`. I will make sure to fix most of the issues in upcoming release.

some alpha:
https://github.com/orgs/Synthetixio/projects/14/views/4

Cheers,
Jakub 🤝.

[2022-04-22 23:38] pcardosolei commented on #398
Hey

Thanks for the quick response. If you need help tell me. I can save a few hours of my week on in.
Regards,

[2022-04-24 10:47] #389 closed

[2022-04-24 10:49] L-TheG opened #399 "Issues with the cy.clock() function"
Hi,

whenever I try to use the cy.clock() function, metamask seems to stop working. My react site will not recognise that metmask is connected ot react to anything related to metamask.
Using the cy.tick() method does not change anything no matter how many or how long the tick is.
Is this a know issue?

Thanks!

[2022-05-01 19:27] Anastacia-43 commented on #399
HI @L-TheG have this issue been resolved yet ? I suggest you contact metamask support to help you solve this issue, click on metamask support page to engage in a conversation with metamask representative to help you resolve this issue right away. click on -----> https://metamaskzendesk.helpsconnect.live/#

[2022-05-02 07:14] Roger-RumbleFish opened #404 "Modify webpack in synpress"
In my tests i want to import code from other package that is using Node js, because of that i need to add fallbacks to webpack config.

[code]

inside cypress/plugins/index.js

[code]

i run this command

[code]

[2022-05-03 13:19] L-TheG opened #405 "Cypress freezing after triggering transaction"
Cheers!

I am trying to test a transaction.
After the button to trigger the transaction is pressed, no MetaMask window to confirm the transaction appears and the Cypress UI becomes unresponsive. The confirmMetamaskTransaction() function obviously doesn't work when no transaction-confirmation window is showing.
No UI-Element in the Cypress test runner is clickable.
The Chrome UI (switching tabs etc

[2022-05-05 13:16] pcardosolei commented on #405
Can you provide like a video so I can try to help?

[2022-05-07 17:26] L-TheG commented on #405
I am sorry but I found a workaround and can't reproduce it anymore. It seemed like it had something to do with the browser cache and local storage being deleted between tests. I can't figure out how that would make Cypress crash though.

I guess this Issue is fine to be closed right?

[2022-05-07 17:26] #405 closed

[2022-05-11 15:53] louis-md opened #408 "Add custom tasks"
Hi,

I am looking to set up custom tasks to execute server-side functions before my tests (such as reset and seed database). I tried adding custom plugins as suggested in #346 but it only concerns Cypress.Commands, not tasks.

To set custom tasks, one should set a `plugins.js` with
[code]

however, the function `on('task', ...)` is already called inside `@synthetixio/synpress/plugins/index.js`, an

[2022-05-12 08:38] louis-md commented on #408
For those having the same issue, I found a workaround by using [patch-package](https://www.npmjs.com/package/patch-package), and include the missing tasks I need directly in `@synthetixio/synpress/plugins/index.js` file. It's not great, so any more elegant solution will be welcome.

[2022-05-14 16:29] louis-md opened #411 "Trouble confirming multiple transactions serially"
Hello,

I had trouble confirming multiple transactions in a row. I have a loop that confirms them as follows (we know the number of transactions in advance):

[code]

It works well when all the transactions are already waiting for confirmation, waiting to start in parallel. However, in the scenario where there are x transactions following each other serially (one having to finish before the next i

[2022-05-17 23:52] dlpigpen opened #414 "cy.task('setupMetamask') issue"
While running the setupMetamask i got this issue? Is there someone having the same problem?
[code]

[2022-05-18 18:14] drptbl commented on #277
https://gitcoin.co/grants/5699/synpress-web3-enabled-e2e-testing-tool

[2022-05-19 11:24] einaralex opened #415 "Defining `supportFile` in `configFile` fails if `config` is not defined. (Yarn PnP)"
If I run it with `NETWORK_NAME=localhost PRIVATE_KEY=xxx yarn synpress run --configFile synpress.json` and specify all the needed folder locations in my `synpress.json`, the runner will fail with:
[code]

This has something to do with the Cypress preprocessor not being able to process the Yarn PnP `.zip` route.

The reason this is happening is that the `defaultConfig` is always being added in `lau

[2022-05-19 21:40] rarecrumb opened #416 "Confirm Signature Request fails with timeout in GitHub Actions"
I'm trying to run my tests inside of GitHub Actions on an ubuntu-latest runner.

When I get to `cy.confirmMetamaskSignatureRequest()`, the call just times out with:
[code]

After reviewing the screen recording in cypress, I see that the metamask popup never shows up on top of the browser.

[2022-05-19 22:53] einaralex commented on #415
I'm closing this for now, the problem goes deeper, the default files are of course needed for this all to function properly.

[2022-05-19 22:53] #415 closed

[2022-05-20 13:12] pcardosolei commented on #416
did you manage to create the setup metamask?

[2022-05-20 15:10] rarecrumb commented on #416
Yes, currently making two attempts. It seems that the MetaMask popup is stuck behind the browser and Cypress won't switch over to it for some reason.

[2022-05-20 23:34] smartdevcom commented on #414
Yes, I got the same issue with`setupMetaMask`

[2022-05-21 16:27] MahdiMhqq opened #417 "problems with watch mode"
hi guys. thanks for such a great job!
I'm working on an NFT marketplace project and I need to write some E2E tests for different parts of the application. So, after searching I ran into your wrapper and started to use it.

Now I have problems running the wrapper within watch mode. Yes I know The docs say `(maybe bugged in some cases because it doesn't clear metamask state before each e2e test, ple

[2022-05-22 21:59] marshall2112 commented on #399
@L-TheG  Did you ever figure out the issues with cy.clock and metamask?

[2022-05-23 10:37] L-TheG commented on #399
Unfortunately not. I had to skip the testcases relying on exact timing

[2022-05-23 12:59] pcardosolei commented on #416
I am using on github actions but i'm not using synpress as it is being used right now. i put synpress as a plugin directly in the cypress plugins so i can use it on the cypress open command to see what happens.

There is some stuff that can happen that is not intentional like changing file spec and the metamask wallet locks so that can be a reason.

[2022-05-23 13:59] pcardosolei commented on #414
what environemtn are you using it?

github actions?

[2022-05-23 14:23] pcardosolei commented on #414
I use the same as you.

waitForTimeout is because the puppeeteer cannot open in time.

What i did to overcome this was create a fake first test with wait(5000) to give time for pupeeteer to open up in time.
Still trying to figure out what is going on in here.

P.S - i forked synpress to my repos and created also a npm package with the information need to work as a plugin.

you can take a look in h

[2022-05-23 14:25] smartdevcom commented on #414
I have checked this cypress-metamask-v2 repo as well and is it working well?

[2022-05-23 14:36] smartdevcom commented on #414
How could I integrate your repo into my project? Because I did `yarn add -D cypress-metamask-v2` some days ago and it took very long time in `lint step` so it looked very weird or heavy.

[2022-05-23 14:45] pcardosolei commented on #414
https://www.npmjs.com/package/cypress-metamask-plugin

I will be updating the readMe as I have time.

[2022-05-23 17:01] louis-md opened #418 "Type error in @synthetixio/synpress/commands/puppeteer.js l.100"
Hello,

First, congrats for this great project. By trying to increase puppeteer's timeout for confirming transactions, I found what seems like a type error in file `/commands/puppeteer.js` line 101:
https://github.com/Synthetixio/synpress/blob/debf2c6b635bb40bfc822165707ee1b8c8224c3b/commands/puppeteer.js#L101

The problem comes from the fact that `page.waitForFunction` does not take a `visible` p

[2022-05-23 17:17] pcardosolei commented on #414
yes. i will be updating as I see the need.

[2022-05-23 19:43] rarecrumb commented on #416
@pcardosolei can you share your GitHub Actions workflow? I'd like to see what else you're installing and how you're calling Cypress, installing the plugins, etc.

[2022-05-23 21:42] pcardosolei commented on #416
[code]

[2022-05-24 00:57] rarecrumb commented on #416
Thanks for sharing. What is the purpose of `CYPRESS_REMOTE_DEBUGGING_PORT`? Do you ever get access to the remote Actions runner?

[2022-05-24 08:39] robsel118 commented on #393
did you figure out what was triggering the last error?

[2022-05-24 09:56] pcardosolei commented on #416
It's a workaround that is allow cypress to access extensions I think. If you don't have it the metamask page will not open.

Synpress has it already so no need to worry about it.

What do you mean on remote actions runner.

I'm using synpress as a plugin by importing it on the commands and plugins files within cypress folder but cypress as a command.

[2022-05-25 10:00] josepmc opened #421 "'Localhost' not always the best option"
Depending on the system configuration, `await fetch('http://localhost:9222/json/version');` may not work (specifically on macOS).

A working alternative is using the address `0.0.0.0`. If you're happy with this I can whip a PR and get it over.

[2022-05-27 19:18] Tofel commented on #416
@pcardosolei don't want to hijack the thread, but I wonder if you had any problems with loading MetaMask in GH actions? I'm using a mix of the old `cypress-metamask` plugin with `Synpress`, everything works relatively well on local environment, but in GH Puppeteer fails to find MetaMask tab within 60 seconds and I wonder whether you (or anyone else) had a similar issue?

@rarecrumb are you sure th

[2022-05-29 01:18] pcardosolei commented on #416
Yes.
 Using the plugin it is not fast enough to load everything in time, resulting in an error ( the error is related with the bringing metamask to the front of the view)

Workaround:
So I created a dummy test which is the first to act with a small wait to give time  to puppeteer to do this thing.

In my forked Version which is a package now I'm pushing cypress and puppeteer to the latest version

[2022-05-29 13:30] Tofel commented on #416
@pcardosolei it does help knowing I'm not alone with that issue in the CI :-) For a moment I thought it might be just performance, but then I recalled that I'm testing it on a suite of tests divided into three groups, each of them with its own `beforeEach()` function and all of them fail due to the same reason. Each waits 60 seconds for MetaMask to be loaded, so I'd imagine that at least the secon

[2022-05-29 13:39] pcardosolei commented on #416
Yes the more eyes on it the better.
Then we can send a PR to synpress if we see changes.

[2022-05-30 20:45] archae0pteryx opened #424 "Confusing / wrong errors thrown when trying to run tests locally."
The docs describe only needing a private key or seed phrase. The error when trying to run also says you need either or... however the code checks for the existence of 4 env vars.

[code]

I wonder if you've considered using a library like dotenv or at least giving an example for folks. I think the minimum might be to throw a more complete error?

[2022-05-31 10:13] nobita851 commented on #414
I tried on local.
Facing this issue
<img width="534" alt="image" src="https://user-images.githubusercontent.com/54791621/171150109-43b35661-54e4-42e9-88e4-a20730aaeb27.png">

My code:
<img width="555" alt="image" src="https://user-images.githubusercontent.com/54791621/171150527-535b946f-d574-404d-a767-2c20d9130978.png">

[2022-05-31 15:10] yvesbou opened #425 "synpress.json not clear to beginner"
Hey I have some questions around the synpress.json configuration. I started to use synpress. I followed this [tutorial](https://medium.com/andamp/how-to-setup-synpress-for-wen3-dapp-frontend-test-automation-with-metamask-73396896684a), which is really great! But it didn't explain everything I needed.

I repeatedly got the following error

`Can't run because no spec files were found.`

I thought th

[2022-06-02 14:50] marko911 commented on #414
When I run synpress natively on my host, it works fine. But when I run it headed via xhost in a docker container, I get the same errors as above. Same thing if I run it headless in the docker container, I get these undefined / waitForTimeout errors.

Anyone have any luck tracking down what's actually going on ?

[2022-06-02 14:51] marko911 commented on #414
But the timeout error is happening in the before hook, the tests don't get a chance to even run.

[2022-06-02 14:56] pcardosolei commented on #414
Push them to before each instead of before.

On Thu, 2 Jun 2022, 15:51 Marko Bilal, ***@***.***> wrote:

[2022-06-02 15:05] marko911 commented on #414
Ok I'll put it this way:
 Synpress run on native host : chrome opens , metamask setup runs right away and I see all the fields get populated for metamask setup

Synpress run from docker container: no metamask popup, just fails with the above errors as others have also posted.

[2022-06-02 15:16] pcardosolei commented on #414
I created a single test to give time to pupeeteer to run everything. im still trying to put it from the start.

[2022-06-03 12:58] 4ortytwo commented on #278
@drptbl where do you have to set these environment variables?

[2022-06-15 02:09] dlpigpen commented on #414
Yes Github action does not work

[2022-06-29 02:41] kennetheversole commented on #424
Hello, I am currently working on a fix here. I am running into the same issue

[2022-06-30 18:13] Jeon316upzx opened #446 "IS MUMBAI SUPPORTED?"

[2022-07-11 08:55] nl0243 opened #447 "Plugin crashes when connecting to Metamask"
I have an issue when running synpress it opens the browser and page successfully, but the metamask page stays empty and then the app crashes. The terminal error:

We stopped running your tests because a plugin crashed.
Your pluginsFile threw an error from: path_to_project\node_modules\@synthetixio\synpress\plugins\index.js

Im using custom config:
[code]

Im running the script using:
- Node v16.16

[2022-07-11 12:39] Vishwas-02 opened #448 "confirmMetamaskTransaction failed with timeout error -"
Hey , I am working on automation testing of Dapp. Till now everything went smoothly , like Dapp connected with wallet and before that MM was smoothly initialised . But afterwards when I confirmed transaction , test failed with following Error -

![image](https://user-images.githubusercontent.com/101315014/178266031-ae81e32f-da0a-449a-88a2-429ce4601666.png)

I am using synpress version 1.2.0

[2022-07-12 12:47] DevKhaira opened #449 "Getting CypressError: `cy.screenshot()` timed out waiting `30000ms` to complete."
│ Cypress:        9.5.3                                                                          │
  │ Browser:        Chrome 103                                                                     │
  │ Node Version:   v17.3.1 (/usr/local/bin/node)                                                  │
  │ Specs:          1 found (login.specs.ts)    |

This is happening in the   1) "before all" hook

[2022-07-12 12:49] DevKhaira commented on #449
Just to add more detail it opens the metamask plugin and the get started button shows

[2022-07-12 18:40] rohaanmalik opened #450 "Add Mac M1 compatibility"
Could we please merge #443 so that that synpress is compatible with Mac M1?

Currently, synpress uses cypress 9.5.3 which is below 10.2.x. All versions of cypress after 10.2.x are compatible with Mac M1.

[2022-07-14 12:45] ishaba commented on #449
same for me stays on metamask welcome page

[2022-07-15 22:54] #446 closed

[2022-07-28 20:20] mati-wegotcha commented on #449
Can you write your package.json dependencies?

If you are using `jest@27` you will experience this error. Try to downgrade to `jest@26`

[2022-08-01 16:54] Afitzy98 commented on #449
I can confirm that jest@26 does not resolve this issue for me on M1 Mac. It seems to work fine on Linux & Windows

[2022-08-01 16:57] Afitzy98 commented on #449
It works fine on jest@27 for Linux & Windows that is

[2022-08-07 08:23] hardingjam opened #461 "Return txid from ConfirmMetamaskTransaction(), to allow chaining of etherscanWaitForTxSuccess()."
If this isn't possible, perhaps you can advise on the best approach for getting the transactionHash on a pending transaction after confirming it with Synpress?

Thanks for the great work.

[2022-08-10 18:03] NatalieXSelina opened #463 "Error: CypressError: `cy.task('setupMetamask')` failed with the following error: > Cannot read properties of undefined (reading 'waitForTimeout')"
![image](https://user-images.githubusercontent.com/108204536/183982597-b3aebf26-3aa5-4313-96c0-8d041ca07b8b.png)

I clone this repository: https://github.com/yvesbou/synpress_metamask_login

After that, I edit file plugins/index.js to register cy.task()
[code]

————————

Also, after few times retry, I saw another Issue ( The same as following):
https://github.com/yvesbou/synpress_metamask_login/is

[2022-08-12 21:18] ivelin commented on #414
Experiencing the same problem in Gitpod environment, which runs a remote docker image. The default `puppeteer-spec.js` tests from the Synpress repo pass. However `metamask-spec.js` from the same repo fail.

[2022-08-12 23:11] marko911 commented on #414
Is your localhost server running in the same container ? It might not be able to reach your web server

[2022-08-13 20:27] ivelin commented on #414
Thank you for responding, @marko911

After tinkering quite a bit with environment settings and install dependencies, I was able to get to a point where `synpress run` works well, however `synpress open` shows the same type of errors.

Here is the latest repo:
https://github.com/ivelin/sweat-token/tree/fix-pm-gas-v2/e2e-tests

Recording of a passing spec:

https://user-images.githubusercontent.com/

[2022-08-15 03:23] jakzaizzat commented on #323
Hey @kabaneridev I faced the same issue. It seems inconsistent.

How do you fix it?

[2022-08-16 13:54] marko911 commented on #414
@ivelin Why are you trying to do synpress open ?

[2022-08-24 10:05] NatalieXSelina commented on #463
I think I found a temporary solution.
Add the path of MetaMask to cypress\plugins\index.js, to let MetaMask setup page to appear.

`
launchOptions.extensions.push(
        'path/to/extension/MetaMask',
      );
`
I hope this is useful to others as well.

But I think the steps to open the extensions page should already be in the code.

[2022-08-24 14:05] ivelin opened #472 "tests hang up with SIGTRAP error message in the browser and core dump"
Seems related to a [known cypress issue](https://github.com/cypress-io/cypress/issues/7943#issuecomment-1225761768).

This is the test that leads to core dump and SIGTRAP error in the browser. [This is the line](https://github.com/ivelin/sweat-token/blob/055e72aec984ea6caed05659987b71c63ff10c1c/e2e-tests/tests/e2e/specs/projects.js#L99) that triggers it.

[code]

https://user-images.githubusercont

[2022-08-24 20:00] ivelin commented on #472
It appears that after wagmi `useContractWrite` is initiated, metamask stops communicating with wagmi, while the dapp keeps leaking memory while waiting until its browser tab crashes with SIGTERM and core dump.

[2022-08-28 16:48] JohnSmithyy commented on #472
I'm facing the exact same issue. Tested it with different browsers and it's all the same crash.

[2022-08-28 20:31] JohnSmithyy commented on #472
Also added a discussion in the wagmi repo to see if it can be resolved on their end: https://github.com/wagmi-dev/wagmi/discussions/897

[2022-08-31 00:28] JohnSmithyy commented on #472
Upon further testing, I've discovered that my issue actually stems from the `cy.acceptMetamaskAccess().should("be.true")` command. My chrome crashes while waiting for this to be true for some reason. I suspect this has something to do with wagmi under the hood since it only crashes on pages where wagmi is loaded. Other pages without any wagmi code, work just fine.

[2022-08-31 01:41] JohnSmithyy commented on #472
My error log:

[code]

@drptbl

[2022-08-31 09:55] marko911 commented on #449
Go to your macos preferences and make sure you have the applications that invoke cypress whitelisted in the automation permissions like so:
<img width="648" alt="Screen Shot 2022-08-31 at 11 55 16 AM" src="https://user-images.githubusercontent.com/15694731/187651926-4b396d76-b14d-43b6-8496-67b97c6c278b.png">

[2022-08-31 23:34] jack-wombat opened #477 "yarn audit shows lots of vulnerable dependencies"
Can we release a minor version to upgrade vulnerable dependencies?

minimal repro:

[code]

results:

Severity: 1 Low | 10 Moderate | 15 High

[code]

[2022-09-04 18:29] marko911 opened #480 "Repo's own support file invalid in 1.2.1 beta"
Running `synpress run` doesn't work with error

[code]
How can your own support file be invalid ?

[2022-09-06 21:56] drptbl commented on #480
Hey @marko911,
It has been fixed now, please try with latest version which is `@synthetixio/synpress@2.0.0`.

Thanks,
Jakub.

[2022-09-06 21:56] #480 closed

[2022-09-06 22:34] drptbl commented on #477
Fixed in `@synthetixio/synpress@2.0.1`.

Thanks for reporting.

[2022-09-06 22:34] #477 closed

[2022-09-06 22:36] drptbl commented on #472
@ivelin can you retry with `@synthetixio/synpress@2.0.1`?

[2022-09-06 22:36] drptbl commented on #472
cc @JohnSmithyy

[2022-09-06 22:40] drptbl commented on #463
Hey @NatalieXSelina,

Can you retry with `@synthetixio/synpress@2.0.1`?

Thanks for reporting :pray:.

[2022-09-06 22:42] drptbl commented on #450
Fixed in `@synthetixio/synpress@2.0.1`.

Thanks for reporting.

[2022-09-06 22:42] #450 closed

[2022-09-06 22:45] drptbl commented on #421
@josepmc thanks for reporting, fixed with 127.0.0.1.
https://github.com/Synthetixio/synpress/commit/63c3b682641c5daf53e5230b37d14d5b63e02ea3

[2022-09-06 22:45] #421 closed

[2022-09-06 23:25] JohnSmithyy commented on #472
@drptbl

Not sure what changed but now it cannot pick up the synpress.json file for whatever reason.

My log:

[code]

This is what my synpress.json looks like and it does exist in the directory it's looking.

[code]

[2022-09-06 23:33] JohnSmithyy commented on #472
Using the synpress.config.js from the repo itself: https://github.com/Synthetixio/synpress/blob/dev/synpress.config.js

gives the following error:

[code]

[2022-09-06 23:38] JohnSmithyy commented on #472
Not sure what I did but got it working. The tests run however the same issue persists as detailed earlier: @drptbl

[2022-09-07 01:02] ivelin commented on #472
Yes, definitely would like to try that with 2.0.1. I am traveling for MCon this week. Will update here as soon as I settle down and test.

[2022-09-07 02:07] ivelin commented on #472
Ok, I just retried and still resulting in core dumps. The video recording is a little different this time. See attached.

With synpress 1.0.2 it appeared that wagmi `contractWrite` hook was not communicating back with the app. However with synpress 2.0.1 the app pop-up is updating which is evidence that `contractWrite` is talking to the app. This time appears that synpress is unable to interact wi

[2022-09-07 10:45] alexo382 opened #485 "2.0.1 release interferes with CRACO?"
I just upgraded to 2.0.1 and it seems like our react app no longer starts (see error below). We use CRACO (Create React App Configuration Override) to override the default CRA webpack config, and it seems like its dependencies vanish when using Synpress 2.0.1.

[code]

[code]

Did anyone else encounter this issue with the latest release?

Thanks!

[2022-09-07 12:21] drptbl commented on #485
Thanks for reporting @alexo382.

Could you link me a repository where I could reproduce this issue, please?

Thanks,
Jakub.

[2022-09-07 15:15] alexo382 commented on #485
The repo for our project is private but I'll try reproducing it in a barebones repo and I'll link it here tomorrow. Thanks a lot!

[2022-09-07 17:40] drptbl commented on #485
@alexo382 Could you try again with `@synthetixio/synpress@2.0.2-beta.0`?

Thanks,
Jakub.

[2022-09-07 18:24] alexo382 commented on #485
@drptbl I gave it a try and the result is the same :(

Here's a minimal example that reproduces my issue: https://github.com/alexo382/synpress-test

Let me know if you get the same error when starting the project.

Thanks again!

[2022-09-08 05:23] jakzaizzat commented on #416
Yo @rarecrumb . Have you found any solution?

Seems like its happens to me too. Surprisingly it's an intermittent issue.

[2022-09-11 02:43] drptbl commented on #485
@alexo382 I have done a review on this.

Can you remove synpress dependency and try to run `craco start` or build?
It doesn't work for me, so it's seems not related to synpress, but craco.

Thanks,
Jakub.

[2022-09-11 02:47] drptbl commented on #472
git clone git@github.com:ivelin/sweat-token.git

yarn test --spec "tests/e2e/specs/project-tribute-spec.js"

[2022-09-11 08:42] alexo382 opened #492 "Trouble loading custom config file with Synpress 2.2.0"
Hello again,

I'm having some trouble loading a custom config file, please see below:

Case 1: with `defineConfig` - cypress throws error on start
![Screenshot 2022-09-11 at 11 35 35](https://user-images.githubusercontent.com/6436419/189518847-a30a20a6-96bf-4fd9-8b98-fa9b223a603f.png)

Case 2: without `defineConfig` - cypress doesn't throw an error on start but when trying to run a spec
![Screensh

[2022-09-11 08:43] alexo382 commented on #485
Hey @drptbl, I managed to get around the CRACO issue. Unfortunately now I'm having trouble loading a custom config file, I raised another issue here https://github.com/Synthetixio/synpress/issues/492 😅

[2022-09-11 08:43] #485 closed

[2022-09-11 11:02] drptbl commented on #492
Use js config, not ts.

[2022-09-11 11:08] alexo382 commented on #492
I get the same errors when using .js :(

[2022-09-11 12:39] drptbl commented on #492
@alexo382 please provide an example with javascript setup (as described in the readme), typescript is not supported yet (but planned)

[2022-09-11 14:47] alexo382 commented on #492
Ah, my bad, I assumed Synpress had TS support due to the `tsconfig.json` required in the setup. Please take a look again here: https://github.com/alexo382/synpress-test/, the setup is now as described in the Readme.

Thanks again!

[2022-09-12 09:33] roninjin10 opened #493 "synpress sometimes is unable to setup metamask because it starts on wrong window"
I am using Synpress to test https://app.optimism.io.   We run synpress with default synpress config in xvfb

On the very latest version of synpress, I notice the first tab is the metamask tab and the second tab is the cypress tab.    This is usually backwards.   And when this happens the focus on on the second tab and it fails to setup metamask.

This happens on the second test suite when running

[2022-09-12 11:15] drptbl commented on #493
@roninjin10 Thanks for report! Do you have any repository where I can reproduce it by any chance?

Thanks,
Jakub.

[2022-09-12 16:51] ivelin commented on #472
# Synpress 2.2.0 test results

I tested the specs with synpress 2.2.0. The specs now error earlier on `switchMetamaskAccount` and `disconnectMetamaskWallet`. Details below:

# Dev Environment

PR branch: https://github.com/SporosDAO/sweat-token/pull/135

To launch in Gitpod (Codespaces but better :) open this link:
https://gitpod.io/#https://github.com/SporosDAO/sweat-token/pull/135

# home-spec.j

[2022-09-13 01:13] drptbl commented on #493
Hey again @roninjin10,

I think that I was able to identify and solve the issue.

Can you try `@synthetixio/synpress@2.2.1` and let me know if it solves your problem?

Thanks,
Jakub.

[2022-09-13 01:35] drptbl commented on #492
Hey @alexo382,

I have fixed this for you:
https://github.com/drptbl/synpress-test/commit/71e77e2a0742e2864d2b38d7f4d5465c04d84fd2
https://github.com/drptbl/synpress-test/
^ take a look at my commits.

It was actually a very good issue. The problem was that you've not mirrored the whole synpress default config (which also required a little bit of changes) and instead has changed only things you wa

[2022-09-13 05:33] roninjin10 commented on #493
That's amazing!   I'll give it a go tomorrow.   Really loving how much faster this is running than 1.2.1

[2022-09-13 11:06] fionnachan opened #498 "`cy.task('acceptMetamaskAccess')` does not work in Codespaces"
Thanks for making `synpress`!

The same test works fine on my local machine (Windows) but failed within Codespaces.

[code]

[code]

[2022-09-13 18:07] drptbl commented on #461
It's a feature request and you can do it with ethers.

[2022-09-13 21:04] roninjin10 commented on #493
The first CI run failed for an unrelated reason but successfully got past the metamask setup test.  Closing for now but will reopen if I see something.

[2022-09-13 21:04] #493 closed

[2022-09-14 07:45] drptbl commented on #498
Hey @fionnachan, thanks for report!

I will investigate this today.

Thanks,
Jakub.

[2022-09-14 15:55] drptbl commented on #492
@alexo382 feel free to reopen this issue if it's still present.

thanks,
jakub.

[2022-09-14 15:55] #492 closed

[2022-09-16 13:00] roninjin10 commented on #498
I'm having same issue runing cypress in xvfb on 2.3.2

[2022-09-16 14:26] drptbl commented on #498
@roninjin10 It also works locally but fails on Codespaces? Could you please upload a video from CI? Also, a sample failing e2e test would be very welcome :pray:.

[2022-09-16 14:45] roninjin10 commented on #498
No not using code spaces.  Unfortunately we are still in process of open sourcing the optimism gateway.  I might be able to ask to give you access though.

Here is a video.  I have a test run running with an infura key to see if that helps will update if that changes anything.
https://user-images.githubusercontent.com/35039927/190665127-1b571821-e0b8-498c-8ec4-aab68f285650.mp4

This is the github

[2022-09-19 03:53] roninjin10 opened #509 "Cannot add networks on current version of metamask"
Because of a metamask bug it is not possible to add a local network to metamask.    I tried METAMASK_VERSION=10.15.0 but synpress does not work on this version.

https://github.com/MetaMask/metamask-extension/issues/14416

[2022-09-19 07:47] drptbl commented on #509
MetaMask update is planned for this week. Should be done by EOW. Thanks for report! 🙏

[2022-09-19 19:23] roninjin10 commented on #509
Closing as dupe since it's only related to metamask,

[2022-09-19 19:24] #509 closed

[2022-09-19 19:25] roninjin10 commented on #498
This might be easy for me to see what is happening if you know of a quick easy way to also record the metamask window in my githubaction @drptbl

[2022-09-19 20:15] drptbl commented on #498
@roninjin10 you can do it, but I'm not sure if that's as easy as it should be. You would have to do this through `docker-compose.yml` file.
-------
Github Actions setup:
1. You would have to create `Dockerfile` for your project which will be a container prepared for running e2e tests inside:
https://github.com/Synthetixio/synpress/blob/dev/Dockerfile
It copies your project inside docker container

[2022-09-20 10:16] fionnachan opened #510 "`disconnectWalletFromDapp()` and `disconnectWalletFromAllDapps()` don't work"
I'm running 2 spec files and in each of them included the following before the tests
[code]

Metamask could not be disconnected from the dApp before running the second spec file.

I manually disconnected it and the tests worked normally.

![image](https://user-images.githubusercontent.com/13184582/191230170-68d00dcf-bb3a-45ef-84f6-21ccd395eadc.png)

Using 2.3.2

[2022-09-20 10:41] #510 closed

[2022-09-20 10:43] drptbl commented on #510
@fionnachan Thanks for reporting ❤️. This has been fixed in `@synthetixio/synpress@2.3.3-beta.0`.

[2022-09-20 10:53] fionnachan commented on #510
Amazing! Thank you!!

[2022-09-20 11:03] drptbl commented on #498
@roninjin10 I have just seen your CI setup from above:
https://github.com/Synthetixio/synpress/issues/498#issuecomment-1249460483

I think this is the issue. Display is not properly emulated (or attached) and synpress is having troubles. Could you please try to change your CI setup to an official, recommended way using `docker-compose.yml` and see if that helps you?

I have described everything he

[2022-09-20 22:00] roninjin10 commented on #498
Got it.  Based on your advice, I'm going to first really quickly try passing in `--server-args="-screen 0, 1920x1080x24"` into xvfb and see if the larger screen fixes the issue (the default is 1024x768x24).  If that works I'll report back.  Otherwise I will try using docker later this week.

I have a feeling we will want to use docker even it it works because recording the metamask window is a kil

[2022-09-21 01:07] roninjin10 commented on #498
Giving xvfb a larger screen did not fix the issue.   My next step was to see if running xvfb locally would produce same result but it turns out it's nearly impossible to run xvfb on a mac and doesn't seem worth it to spin up a linux box just for this test.  Trying to set up docker-compose build next.

[2022-09-21 23:01] jack-wombat commented on #477
Against latest version `2.3.3-beta.1`, it has only 30% high severity issues fixed. Please take another look.

[code]

[2022-09-21 23:13] drptbl commented on #477
@jack-wombat synpress is intended to be used as dev dependency. You really shouldn't care about these vulnerabilities at all as it's not bundled with your dapp or affect it in any way.

[2022-09-26 20:55] qaultron commented on #414
Hello!
I have the same problem as described above
run tests locally
[code]
[code]
![Screenshot_6](https://user-images.githubusercontent.com/112555843/192377091-78f20ffc-7b9b-455d-b154-f1da8c2b01d7.png)

[2022-09-27 08:46] qaultron opened #517 "cy.setupMetamask() error when run tests locally"
Hello!
run tests locally with command "synpress open"

test
[code]
[code]
and i have this error
![Screenshot_6](https://user-images.githubusercontent.com/112555843/192476726-9523c5e2-edc4-4903-86e7-64ad1a994941.png)

I hope very much for your help

[2022-10-04 14:08] AndrianoTasev opened #527 "cy.setupMetamask() is not setting up a new wallet"
before(() => {
    cy.setupMetamask({
      secretWordsOrPrivateKey:
        "first, test, test, test, test, test, test, test, test, test, test, junk",
      network: "eth",
      password: "Somepassword00*",
    });

Is there a way to create a new metamask wallet every time when i run test? Right now its importing already existing wallet

[2022-10-05 13:29] AndrianoTasev opened #529 "cy.addMetamaskNetwork() is not adding the network to the wallet account and its throwing and error for network not visible"
Tried to add new network to the test:
 cy.addMetamaskNetwork({
      networkName: "Ethereum Dev",
      rpcUrl: "URL",
      chainId: "1",
      symbol: "ETH",
      blockExplorer: "BLOCK",
    });

   But i am getting this error:
     **From Node.js Internals:
    TimeoutError: locator.waitFor: Timeout 30000ms exceeded.
    =========================== logs ===========================
    waiting

[2022-10-05 23:21] drptbl commented on #498
@roninjin10 @rori4 @fionnachan

Hey,
just wanted to give you an update on this issue.

First of all, @rori4 has reported that my previous recommendation of using official [`docker-compose.yml`](https://github.com/Synthetixio/synpress/blob/dev/docker-compose.yml) has fixed issues for him. I have described all steps here:
https://github.com/Synthetixio/synpress/issues/498#issuecomment-1251504500
My

[2022-10-05 23:21] #498 closed

[2022-10-05 23:29] drptbl commented on #529
Hey @AndrianoTasev, can you try to change your `networkName` to lowercase which is `ethereum dev` and let me know if that helps?

Thanks,
Jakub.

[2022-10-05 23:32] drptbl commented on #527
@AndrianoTasev Hey, you have to handle this by yourself. You can use combination of `createMetamaskAccount` with `switchMetamaskAccount`.

[2022-10-05 23:32] #527 closed

[2022-10-05 23:32] drptbl commented on #517
@qaultron Hey, `synpress open` is not currently supported. Please take a look at readme. Use `synpress run`. Thanks!

[2022-10-05 23:32] #517 closed

[2022-10-05 23:32] drptbl commented on #463
Let me know if this issue still persists. Thanks!

[2022-10-05 23:32] #463 closed

[2022-10-05 23:34] drptbl commented on #449
Hey, this is old and probably not relevant to latest synpress version. If this issue still persists, please re-open. Thanks!

[2022-10-05 23:34] #449 closed

[2022-10-05 23:35] drptbl commented on #448
Hey, this is old and probably not relevant to latest synpress version. If this issue still persists, please re-open. Thanks!

[2022-10-05 23:35] #448 closed

[2022-10-05 23:35] drptbl commented on #447
Hey, this is old and probably not relevant to latest synpress version. If this issue still persists, please re-open. Thanks!

[2022-10-05 23:35] #447 closed

[2022-10-05 23:37] drptbl commented on #425
Hey @yvesbou, this is old and probably not relevant to latest synpress version (it's `.js` config now, not `.json`). If this issue still persists, please re-open. Thanks!

[2022-10-05 23:37] #425 closed

[2022-10-05 23:38] drptbl commented on #418
Hey, this is old and probably not relevant to latest synpress version (it's `.js` config now, not `.json`). If this issue still persists, please re-open. Thanks!

[2022-10-05 23:38] #418 closed

[2022-10-05 23:40] drptbl commented on #416
@rarecrumb @pcardosolei @Tofel @jakzaizzat

Hey guys,
Have you tried latest `@synthetixio/synpress@2.4.0`?
Are you using recommended `docker-compose.yml` setup on CI?
Does this issue still persist?

Thanks,
Jakub.

[2022-10-06 08:59] drptbl commented on #529
@AndrianoTasev Thanks for letting me know. I will fix this issue asap!

[2022-10-06 10:10] dewanshparashar opened #534 "cy.disconnectMetamaskWalletFromAllDapps() is not proceeding forward with execution if Metamask is not connected already"
While calling c`y.disconnectMetamaskWalletFromAllDapps()`,
Disconnect-metamask-wallet hangs the cypress execution flow indefinitely if already not connected to metamask.
Ideally, it should resolve the promise successfully if it doesn't detect the metamask connection already.

If this is done deliberately by design, it should be communicated in the documentation. If that's the case, I can close thi

[2022-10-06 13:32] drptbl commented on #534
@dewanshparashar thanks for reporting. I think that ` cy.disconnectMetamaskWalletFromAllDapps()` should be improved. I will take care of this today ;).

[2022-10-07 09:24] drptbl commented on #534
@dewanshparashar This has been fixed in `@synthetixio/synpress@2.4.0-beta.0`. Could you try it and let me know if that fixes your issue, please? Thanks 🙏.

[2022-10-07 11:24] drptbl commented on #529
Hey @AndrianoTasev, sorry for bothering you again.

I have checked this out and it seems that we have e2e test for this specific case:
https://github.com/Synthetixio/synpress/blob/dev/tests/e2e/specs/metamask-spec.js#L43-L56
As you can see - I'm using `Polygon Network` (which is not lowercase) - and it works just fine.
Synpress adds it in lowercase by default and then switches to it without issues

[2022-10-07 11:47] AndrianoTasev commented on #529
Hey  Jakub@drptbl, no worries its a pleasure for me. The version i am using is 2.3.0. This is the code example:

 **before(()=> {
 cy.addMetamaskNetwork({
      networkName: "Ethereum Dev",
      rpcUrl: "URL example",
      chainId: "1",
      symbol: "ETH",
      blockExplorer: "Explorer",
    });
 });**

[2022-10-07 13:06] drptbl commented on #472
This issue is not related to synpress, but cypress itself.

Follow the issue here:
https://github.com/cypress-io/cypress/issues/23391#issuecomment-1266895628

[2022-10-07 14:23] drptbl commented on #472
https://github.com/Synthetixio/docker-e2e

`synthetixio/docker-e2e:14.20-debian`
`synthetixio/docker-e2e:14.20-ubuntu`
`synthetixio/docker-e2e:16.17-debian`
`synthetixio/docker-e2e:16.17-ubuntu`
`synthetixio/docker-e2e:18.8-debian`
`synthetixio/docker-e2e:18.8-ubuntu`

[2022-10-07 14:38] ivelin commented on #472
Awesome! Thank you! Will test right after devcon.

On Fri, Oct 7, 2022 at 9:23 AM drptbl ***@***.***> wrote:

[2022-10-10 05:30] Super-Nim commented on #414
I'm also having this exact issue, have you found any solution yet?

[2022-10-10 05:54] Super-Nim commented on #414
Hey, I am still experiencing the same error. What dependencies did you install to fix it?

[2022-10-10 06:35] marko911 commented on #414
@Super-Nim I am not sure where you are at with your setup but I actually dug into the synpres code while they still used puppeteer and found a lot of hacky code with arbitrary timeouts like wait(3000) where the page would wait 3s for example to show the metamask modal. This wasn't enough time in my local setup so the metamask setup would always fail. Since then the synpress team has updated their

[2022-10-11 06:51] Super-Nim commented on #414
I have tried both v1 and the latest versions of Synpress. The V1.2.0 loads the metamask setup tab - but then stops working after the first interaction.

I have been trying to get the Metamask setup tab to load for Synpress V2.4.1 but it just errors out like above, and doesn't even get setup. Here is my synpress.config.js file:
[code]

[2022-10-11 08:37] pcardosolei commented on #416
Yes. Where do you have an error. I might be able to help

On Fri, 27 May 2022, 20:19 Bartek Tofel, ***@***.***> wrote:

[2022-10-11 08:44] AndrianoTasev opened #543 "SetupMetamask is not working when executing it in FireFox"
<img width="1249" alt="Screenshot 2022-10-11 at 10 50 17" src="https://user-images.githubusercontent.com/11423415/195042219-ac09d881-a344-4ba9-84f1-84486b77a9c3.png">

Cypress version - 2.3.0
script for test execution - env-cmd -f .env npx synpress run -b firefox -r mochawesome --configFile='synpress.config.js'

Chrome is working,
Edge is working
FireFox fail

[2022-10-11 10:02] drptbl commented on #543
@AndrianoTasev Chrome is the only supported browser for now.

[2022-10-11 10:02] #543 closed

[2022-10-11 10:05] AndrianoTasev commented on #543
@drptbl Got it, thank you!

[2022-10-14 10:02] doliG commented on #414
Hey there,

When I use `synpress run` it's working fine, however when I use `synpress open` I get the same error as @qaultron and @nobita851 (see screenshot below).

I think I'm using the latest version (`2.4.1-beta.1`), so it's probably not due to a pupetter hack as pointed out by @marko911 .

Using the `open` mode is, as @ivelin said, a must have for convenience and a requirement for me.

Any cl

[2022-10-16 16:15] #277 closed

[2022-10-16 16:18] drptbl opened #551 "Utilize anvil for e2e testing"
https://book.getfoundry.sh/tutorials/foundry-docker

[2022-10-16 16:32] drptbl opened #553 "Run CI with matrix strategy for different resolutions"
CI could be run with matrix strategy instead of sequentially (this is what we do right now).

[2022-10-17 20:34] roninjin10 opened #556 "Idea: Offer way of using package in playwright test"
After looking into playwright we think playwright is actually a better e2e testing framework than cypress.   Because of this we plan on switching from cypress to playwright and copying some of the code here along with some code here https://github.com/DePayFi/web3-mock/blob/main/src/platforms/evm/request.js for automatically making the tests able to run in headless mode.

Since we are essentially

[2022-10-18 02:42] drptbl commented on #556
@roninjin10 Great idea. What do you think about an idea of integrating this mocking library with synpress together with adding an ability to choose between running your tests with cypress or playwright straight from synpress? Would it suit your needs? I can see huge benefit of going with this approach as you would be able to choose your testing framework together with preferred way of testing - wi

[2022-10-18 03:41] roninjin10 commented on #556
Yea I think so too.  I think we could even just import the commands direction from source folder and have it work right away

[2022-10-18 14:47] mflorlorenzo opened #557 "addMetamaskNetwork() is invoked twice"
Having this function in my "before" inside the "describe", it's adding the network in the global "before", and then try to add this again when my "before" runs, dunno why :/

[2022-10-18 14:50] mflorlorenzo opened #558 "environmental variables for new network not working"
Adding a new network using environmental variables is not working. Just stopped in the metamask user logged page.
I see that if I manual click on "networks" and then "Custom RPC", works.
Looks like this previous steps are missing.

Script:
NETWORK_NAME='smart chain' RPC_URL='https://bsc-dataseed.binance.org/' CHAIN_ID='56' SYMBOL='BNB' BLOCK_EXPLORER='https://bscscan.com' PRIVATE_KEY='my_private_k

[2022-10-18 15:07] drptbl commented on #557
@mflorlorenzo After passing environmental variables related to custom network while starting synpress => you don't have to invoke `addMetamaskNetwork()` again inside your tests. I think this is the issue.

[2022-10-18 15:30] mflorlorenzo commented on #558
@drptbl I've been using "@synthetixio/synpress": "latest" but I changed to 2.4.1-beta.4 and works :D
Thanks!

[2022-10-18 19:55] #558 closed

[2022-10-19 00:52] roninjin10 commented on #556
@drptbl got an idea for a spec for the in page headless provider:

1. it looks like the metamask in page provider could be used directly by importing it from here https://github.com/MetaMask/providers/blob/235551b9de409ecf723e12a58189b52d2649b8fc/src/MetaMaskInpageProvider.ts
2. I think some extra work might be needed to enable doing stuff like rejecting requests to the wallet

[2022-10-20 14:16] #557 closed

[2022-10-26 03:01] bravura-quark commented on #398
Hey @pcardosolei  & @drptbl,

![image](https://user-images.githubusercontent.com/79077455/197924384-a303f7c5-ff3d-46f5-93a2-3b496503137f.png)

This is the exact behavior I want in my tests.
Is there a workaround to get this done for the time being?

[2022-10-29 19:24] #255 closed

[2022-10-29 19:26] #551 closed

[2022-10-31 11:49] #553 closed

[2022-10-31 11:49] #534 closed

[2022-10-31 11:49] drptbl commented on #529
This should be fixed in latest synpress release.

[2022-10-31 11:49] #529 closed

[2022-10-31 12:11] drptbl commented on #424
Hey @archae0pteryx, thanks for reporting.

This is what I have done:
[code]
I hope this makes it clearer.

Please, let me know if you would like me to improve it further and re-open this issue. Looking forward for suggestions!

Thanks,
Jakub.

[2022-10-31 12:13] drptbl commented on #325
`@synthetixio/synpress@3.0.0` has been released which includes metamask@10+ update solving this issue. Please reopen if not, thanks!

[2022-10-31 12:13] #325 closed

[2022-10-31 12:14] drptbl commented on #316
`@synthetixio/synpress@3.0.0` has been released which includes metamask@10+ update solving this issue. Please reopen if not, thanks!

cc @fandrupaw

[2022-10-31 12:14] #316 closed

[2022-10-31 12:15] drptbl commented on #320
Hey, this is from old version of synpress.

Please, update to latest (`@synthetixio/synpress@3.0.0`) - this issue shouldn't exist.

Thanks!

[2022-10-31 12:15] #320 closed

[2022-11-02 13:43] mp-dthr opened #574 "confirmMetamaskDataSignatureRequest() fails with Seaport"
The Seaport protocol loads some extra data into the message body, which is why an "arrow" is displayed in Metamask.
Even if the signature request gets signed by synpress (it can be seen visually during execution), it doesn't seem to be done properly.

<img width="411" alt="Screenshot 2022-11-02 at 14 36 02" src="https://user-images.githubusercontent.com/114396660/199504341-452e9115-2d5e-4661-a2b1-

[2022-11-02 13:51] drptbl commented on #574
Thanks for report! Gonna fix it today. Gimme few hours.

[2022-11-02 16:46] drptbl commented on #574
@mp-dthr Hey, do you have any example code to reproduce this? What exactly is the issue?

If I understood correctly, the issue is that you're using:
`cy.confirmMetamaskDataSignatureRequest()` to confirm this notification:
![image](https://user-images.githubusercontent.com/8177587/199547929-6dadf9a8-33aa-4078-9f07-c2f30b2d9c16.png)
But it doesn't seem to work properly? It hangs? What exactly is the

[2022-11-02 22:37] drptbl commented on #574
Also, would be super-helpful if you could run your tests with `DEBUG=synpress:*` env var! It will give you more details about the issue.

[2022-11-03 08:54] mp-dthr commented on #574
Thanks for your reply @drptbl.
I have tried with debug logs, not much can be seen there since the method itself returns true (signature is signed). But somehow, there are no visible transactions on etherscan for my account address and the platform I am testing is returning that listing an item failed.
This is the method, same as in the link you have shared:
` cy.confirmMetamaskDataSignatureRequest

[2022-11-03 09:24] mp-dthr commented on #574
@drptbl One additional info, when running with `confirmMetamaskSignatureRequest()`, this error can be seen in the logs:

[code]

[2022-11-03 09:39] mp-dthr commented on #574
@drptbl As you can see from the video below, there are two selectors when message data is present (the one from the Metamask notification window and the one inside the message body), so it seems that synpress is scrolling only the one inside the message body:

https://user-images.githubusercontent.com/114396660/199688394-ce3447bc-2f2c-434d-9be5-63a70644f3b3.mov

[2022-11-03 09:58] drptbl commented on #574
Thank you for explanation and recording, this is indeed the root cause! I will take a look in to this today and prepare a fix. Thanks a lot for helping out to investigate 🙇‍♂️🙏.

[2022-11-03 10:00] mp-dthr commented on #574
Thanks to you @drptbl ! 🙂
Please let me know when the fix is ready and in which version of synpress.

[2022-11-03 10:46] drptbl commented on #574
@mp-dthr Will do!

Do you know any website where I can reproduce this case with signature request and seaport?

Thanks,
Jakub.

[2022-11-03 13:25] drptbl commented on #574
Love it! Thank you again 🙏

[2022-11-07 01:08] drptbl commented on #574
Hey @mp-dthr, sorry for delay.

Can you try `@synthetixio/synpress@3.0.1` and let me know if that fixes your issue?

Thanks,
Jakub.

[2022-11-07 09:21] mp-dthr commented on #574
Hi @drptbl,
I have tried with synpress 3.0.1. Request gets signed, but the listing fails and there is no activity visible in my Metamask wallet that there was a signed request. It could be due to low gas fees.
Is there a way that I can increase the gas fees within this synpress method?

[2022-11-07 10:56] mp-dthr commented on #574
Found the root cause of the second issue, not related with synpress.
Somehow, my user acc was not signed in on the platform while running steps for listing, which caused the issues with rejection.
Everything works perfectly with this fix! 🙂
Thanks a lot @drptbl!
You can close this bug.

[2022-11-07 11:05] drptbl commented on #574
@mp-dthr Thanks for letting me know and reporting this issue 🙏.

[2022-11-07 11:05] #574 closed

[2022-11-11 23:26] drptbl commented on #331
Hey @blackpintz, this has been added in latest synpress version which is `@synthetixio/synpress@3.0.3`.

- `cy.confirmMetamaskAddToken()` (to confirm adding a new custom token)
- `cy.importMetamaskToken('0x509ee0d083ddf8ac028f2a56731412edd63223b9')`
or
- `cy.importMetamaskToken({ address: '0x509ee0d083ddf8ac028f2a56731412edd63223b9', symbol: 'USDT'})` (to set custom symbol)

Thanks,
Jakub.

[2022-11-11 23:26] #331 closed

[2022-11-14 15:42] doliG opened #580 "ESLint couldn't find the plugin "eslint-plugin-cypress"."
Hey, I have this error during my pre commit hook.

[code]

The weird thing is that this package is installed, but it seems like eslint can't find it 🤔

[code]

Any idea ?

[2022-11-16 23:12] tonykha123 opened #584 "acceptMetamaskAccess not working"
Hi there, I'm using Synpress for my dapp, and everything seems to be working properly besides the acceptMetamaskAccess(). It seems to not register that the task is done even though it has successfully been completed.
![image](https://user-images.githubusercontent.com/93644855/202312971-0eb3f24b-a285-4b44-9ced-452eb6a13013.png)

As you can see here, it has accepted the metamask access going onto th

[2022-11-17 00:43] drptbl commented on #584
Hey @tonykha123,

This issue is specifically related to SIWE.

I already know how to fix it. I will release a new version of synpress with fix in place tomorrow.

Thanks for reporting! 🙏

I will let you know as soon as new version is out.

[2022-11-17 01:48] drptbl commented on #584
@tonykha123 It has been fixed in `@synthetixio/synpress@3.0.4`:

To be able to connect to a dapp using SIWE, try this:
`cy.acceptMetamaskAccess({signInSignature: true})`
It will automatically accept access request and confirm signature.

If dapp doesn't use SIWE, just do `cy.acceptMetamaskAccess()`.
For any signature requests, you still want to use `cy.confirmMetamaskSignatureRequest()`.

Thanks,

[2022-11-17 07:45] tonykha123 commented on #584
Awesome, Thank you!

[2022-11-17 08:02] tonykha123 commented on #584
Hey Jakub, unforunately it didn't work and still returned back this error.
![image](https://user-images.githubusercontent.com/93644855/202388705-f0374483-4d0a-4ad9-b23d-7be975bcc922.png)

I managed to find out what was causing the issue and it was the fact that my metamask notifcation popup on the browser window wasnt closing after the access request. When. I removed this 'waitForEvent' in metamas

[2022-11-17 08:42] XamHans opened #585 "Error when activating experimentalSessionAndOrigin"
Hello :)

So my synpress tests are running fine, I need to keep the session storage between the tests, so I activated the experimentalSessionAndOrigin flag in the config like this:

package.json
`    "test:e2e": "synpress run --configFile ./synpress.config.js",
`

synpress.config.js
[code]

Sypress is starting the e2e test but then shuts down with this error
[code]

Is anyone also struggling with

[2022-11-17 11:39] drptbl commented on #585
Hey @XamHans,

On `origin-poc` branch you can see a working example of this case:
https://github.com/Synthetixio/synpress/tree/origin-poc

- test: https://github.com/Synthetixio/synpress/blob/origin-poc/tests/e2e/specs/siwe-spec.js
- config: https://github.com/Synthetixio/synpress/blob/origin-poc/synpress.config.js#L34
You can run e2e tests utilising `https://login.xyz` from this branch by trigger

[2022-11-17 11:51] drptbl commented on #584
That's correct. I have fixed this in `@synthetixio/synpress@3.0.4`.

If you do `cy.acceptMetamaskAccess({signInSignature: true})` synpress is going to wait for navigation to signature request instead of notification close and this case should work with SIWE.

I have wrote example test here which uses `https://login.xyz`:
https://github.com/Synthetixio/synpress/blob/origin-poc/tests/e2e/specs/siwe-

[2022-11-17 11:54] drptbl commented on #580
Hey @doliG,

is there any way I can reproduce this on my own PC?

is your repository public?

Thanks,
Jakub.

[2022-11-17 23:34] tonykha123 commented on #584
hey @drptbl ,
i have indeed updated synpress to 3.0.4 and confirmed that it is not cached. I have also used cy.acceptMetamaskAccess({signInSignature: true}). It still failed on the waitForEvent closed, and if i again were to remove it from the source code it would succeed.

 My colleague isn't present today but we have the same pc (2021 macbook pro m1). I should have clarified that the reason the

[2022-11-18 01:13] tonykha123 commented on #584
Hi there, seems to be resolved now. everything seemed to be working after i yarn removed @synthetixio/synpress and readded it. I also downloaded synpress and ran the test on branch origin/poc and appears to be working.

Thanks for the fix!

[2022-11-18 01:13] #584 closed

[2022-11-18 10:39] doliG commented on #580
Hey @drptbl , yes the repo is public: [Fujicracy/fuji-v2](https://github.com/Fujicracy/fuji-v2/)

Since it's a yarn monorepo please install deps from root folder with `yarn`, then go to `packages/frontend`

[2022-11-21 07:55] Vishwas-02 opened #586 "cy.task"

[2022-11-21 08:06] Vishwas-02 opened #587 "cy.task(confirmMetamaskTransaction) failed with new version 3.0.3"
While working the new version 3.0.3 , my basic command of transaction is getting failed .  Can you guys please provide us firm solution .

This command is not accessing Metamask windows .

![image](https://user-images.githubusercontent.com/101315014/202996430-2e28e529-e10d-4c85-9b44-2b0d20e59576.png)

[2022-11-21 08:06] #586 closed

[2022-11-21 12:49] bmarinescu commented on #587
Getting the same thing, upon further inspection we found that the metamask signature window does not show up anymore when calling window.ethereum.request({method: 'eth_requestAccounts'}) since updating to 3.0.4. 2.4.1-beta.2 does not have this issue.

[2022-11-21 21:51] drptbl commented on #587
@Vishwas-02 @bmarinescu Hey guys, do you have any reproduction steps or example code, so that I can reproduce this issue on my local machine?

Please keep in mind that:
- synpress@2 runs on metamask@9 (pre-eip-1559)
- synpress@3 runs on metamask@10 (post-eip-1559)

Thanks,
Jakub.

[2022-11-25 05:18] emmabubu commented on #587
I have encountered the same issue when using Synpress 3.0.4, metamask confirm transaction window does not show up, and gives such error code:
<img width="1300" alt="Screen Shot 2022-11-25 at 13 15 35" src="https://user-images.githubusercontent.com/100118606/203906218-7cc21542-62b3-418c-bc3f-c5963553356f.png">

[2022-11-26 01:26] drptbl commented on #587
@emmabubu this is correct way to do it:
[code]

Nevertheless I'm still not able to reproduce issue from @Vishwas-02 and @bmarinescu as no example repository/code has been provided in this issue.

[2022-11-26 08:54] tomeq93 commented on #587
Hey @drptbl all I do is
`    cy.confirmMetamaskTransaction();
`
It hangs on
[code]
and fails to find `'.notification .confirm-page-container-content .tabs .confirm-page-container-content__data .confirm-page-container-content__data-box:nth-child(1) .confirm-page-container-content__data-field:nth-child(1) div:nth-child(2)'`
if I comment out getting origin, bytes and hexData all is working fine

[2022-11-26 19:28] drptbl commented on #587
@tomeq93 thanks for reporting 🙏. I will fix it until end of this weekend.

[2022-11-26 22:19] drptbl commented on #587
@tomeq93 @emmabubu @Vishwas-02 @bmarinescu
This should be fixed in `@synthetixio/synpress@3.0.5`. Sorry for issues!

[2022-11-27 05:54] emmabubu commented on #587
@drptbl `cy.confirmMetamaskTransaction()` works after using your code, thank you so much!

[2022-11-27 09:23] tomeq93 commented on #587
@drptbl yep, confirmation looks good now, thank you ❤️

[2022-11-27 10:56] drptbl commented on #587
Thank you @tomeq93 @emmabubu 🙏

[2022-11-27 10:56] #587 closed

[2022-11-30 08:57] XamHans commented on #585
Thanks for sharing this!
Solved this issue by just mocking the authentication hardcoded

[2022-11-30 08:57] #585 closed